---
import { Image } from "astro:assets";
import { getCollection, getEntry, render } from "astro:content";
import type { GetStaticPaths } from "astro";

import { BookOpenIcon, CalendarFoldIcon } from "@lucide/astro";

import {
  getFullDateFormatting,
  getShortDateFormatting,
  isValidProjectCover,
} from "@/scripts/util";
import { ICON_SIZE } from "@/scripts/constants";
import BaseLayout from "@/layouts/base-layout.astro";
import MdxContent from "@/components/mdx-content.astro";
import Header from "@/components/header.astro";

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => {
    return { params: { id: post.id } };
  });
}) satisfies GetStaticPaths;

const { id } = Astro.params;
const post = await getEntry("posts", id)!;

const {
  data: { title, blurb, posted, cover },
} = post;

if (cover && !isValidProjectCover(cover.img.width, cover.img.height)) {
  throw new Error("Cover images must have an aspect ratio of 16:10!");
}

const { Content, remarkPluginFrontmatter } = await render(post);
const numMinutes = Math.round(remarkPluginFrontmatter["stats"]["minutes"]);
---

<BaseLayout meta={{ kind: "post", post }}>
  <Header links={[{ href: "/posts", text: "Writing" }]} />

  <main>
    <section
      class="mx-auto mb-pad-4 w-full px-pad-2 pt-pad-4 desktop:w-4/5 desktop:px-pad desktop:pt-pad-3 lg:w-(--real-header-w)"
    >
      <h1
        class="text-[2.65rem] leading-none font-bold text-heading sm:text-5xl"
      >
        {title}
      </h1>

      <p
        class="mt-1 -mb-2 text-xl text-sweater-2 desktop:mb-0 desktop:text-2xl sm:text-4xl light:text-sweater-7"
      >
        {blurb}
      </p>
    </section>

    <section aria-label="Overview" class="mb-pad-2 desktop:mb-pad-4">
      {
        cover && (
          <div class="mx-auto mb-pad-2 max-w-(--real-wide-w) desktop:mb-pad-4 md:px-pad-2">
            <Image
              src={cover.img}
              alt={cover.alt}
              loading="eager"
              class="md:rounded-xl"
            />
          </div>
        )
      }

      <div
        class="mx-auto w-full px-pad-2 *:space-y-0.5 **:leading-tight desktop:w-4/5 desktop:px-pad lg:w-(--real-header-w)"
      >
        <dl
          class="grid max-w-(--content-w) grid-cols-1 gap-x-pad-2 gap-y-pad sm:grid-cols-2"
        >
          <div>
            <dt class="flex justify-between font-bold text-heading">
              Posted <CalendarFoldIcon
                aria-hidden="true"
                size={ICON_SIZE}
                class="shrink-0 stroke-icon"
              />
            </dt>
            <dd>
              <time
                datetime={posted.toISOString()}
                title={getFullDateFormatting(posted)}
              >
                {getShortDateFormatting(posted)}
              </time>
            </dd>
          </div>

          <div>
            <dt class="flex justify-between font-bold text-heading">
              Length <BookOpenIcon
                aria-hidden="true"
                size={ICON_SIZE}
                class="shrink-0 stroke-icon"
              />
            </dt>
            <dd>
              {numMinutes}
              {numMinutes > 1 ? "minutes" : "minute"}
            </dd>
          </div>
        </dl>
      </div>
    </section>

    <MdxContent aria-label="Post" content={Content} />
  </main>
</BaseLayout>
