---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import CommonLayout from "@/layouts/common-layout.astro";

const posts = await getCollection("posts");
const yearToPostsMap = new Map<number, CollectionEntry<"posts">[]>();

// Group posts together by publish year
for (const post of posts) {
  const year = post.data.posted.getFullYear();
  const maybePosts = yearToPostsMap.get(year);

  if (maybePosts) {
    yearToPostsMap.set(year, [...maybePosts, post]);
  } else {
    yearToPostsMap.set(year, [post]);
  }
}

// Sort each group of posts by publish year
const entries = yearToPostsMap.entries().toArray();
entries.sort((a, b) => b[0] - a[0]);
---

<CommonLayout
  meta={{
    kind: "route",
    title: "Posts",
    description:
      "Random writing about stuff I've learned, things I'm working on, and interesting topics.",
    ogImageParams: "All my posts.",
  }}
>
  <main class="span-normal span-height py-12">
    <div
      class="pointer-events-none space-y-12 [--fade-speed:25ms] hover:[&_.row:not(:hover)]:brightness-50"
    >
      {
        entries.map(([year, yearPosts]) => {
          const sortedPosts = yearPosts;
          sortedPosts.sort(
            (a, b) => b.data.posted.getTime() - a.data.posted.getTime(),
          );

          return (
            <section>
              <h2 class="maple row animate-fade-in text-sweater-6 mb-4 cursor-default leading-none transition-[filter_opacity] [--order:0]">
                {year}
              </h2>

              <div class="pointer-events-auto flex flex-col">
                {sortedPosts.map(
                  ({ data: { title, blurb, posted }, id }, idx) => (
                    <a
                      href={`/posts/${id}`}
                      class="row group animate-fade-in border-b-sweater-9/0 border-t-sweater-9 last:border-b-sweater-9 hover:border-b-sweater-9/100 380:flex-row 380:gap-space flex flex-col gap-1 border-y-2 py-4 transition-[filter_opacity]"
                      style={{ "--order": idx + 1 }}
                    >
                      <time
                        datetime={posted.toISOString()}
                        title={posted.toLocaleString("en-US", {
                          month: "long",
                          day: "numeric",
                          year: "numeric",
                          hour: "numeric",
                          minute: "numeric",
                          timeZone: "America/New_York",
                          timeZoneName: "short",
                        })}
                        class="maple text-sweater-4 group-hover:text-sweater-3 shrink-0 transition-colors"
                      >
                        <span class="380:hidden">
                          {posted.toLocaleDateString("en-US", {
                            month: "long",
                            day: "numeric",
                            timeZone: "America/New_York",
                          })}
                        </span>
                        <span class="380:inline hidden">
                          {posted.toLocaleDateString("en-US", {
                            month: "2-digit",
                            day: "2-digit",
                            timeZone: "America/New_York",
                          })}
                        </span>
                      </time>

                      <div class="space-y-1">
                        <h2>{title}</h2>
                        {blurb ? (
                          <p class="subtitle group-hover:text-sweater-1 transition-[color_opacity] group-hover:opacity-100">
                            {blurb}
                          </p>
                        ) : null}
                      </div>
                    </a>
                  ),
                )}
              </div>
            </section>
          );
        })
      }
    </div>
  </main>
</CommonLayout>
