---
import { getCollection } from "astro:content";

import { SquareArrowRightIcon } from "@lucide/astro";

import CommonLayout from "@/layouts/common-layout.astro";
import {
  getFullDateFormatting,
  getMonthDayDateFormatting,
} from "@/scripts/util";
import { ICON_SIZE } from "@/scripts/constants";
import Link from "@/components/link.astro";

const posts = await getCollection("posts");
const yearPostsMap = new Map<number, typeof posts>();

// Group each post with its corresponding year
for (const post of posts) {
  const year = post.data.posted.getFullYear();

  if (!yearPostsMap.has(year)) {
    yearPostsMap.set(year, [post]);
  } else {
    yearPostsMap.get(year)!.push(post);
  }
}

// Sort each group of posts
for (const postsInYear of yearPostsMap.values()) {
  postsInYear.sort((a, b) => b.data.posted.getTime() - a.data.posted.getTime());
}

// Sort most recent year on top
const yearPosts = [...yearPostsMap].sort((a, b) => b[0] - a[0]);

const description = "Writing on technical topics and personal life";
---

<CommonLayout
  meta={{
    kind: "route",
    title: "Writing",
    description: description + ".",
    ogImageParams: description,
  }}
  headerLinks={[]}
>
  <main
    class="mx-auto w-full space-y-pad-4 px-pad-2 pt-pad pb-pad-4 [--posts-date-w:120px] desktop:w-4/5 desktop:px-pad desktop:pt-0 sm:[--posts-date-w:40%] md:[--posts-date-w:30%] lg:w-(--real-header-w)"
  >
    <h1 class="text-5xl font-bold text-heading">Writing</h1>

    {
      yearPosts.map(([year, posts]) => (
        <section aria-label={`Posts in ${year}`}>
          <h2
            id={year.toString()}
            class="mb-pad text-xl font-bold text-heading sm:sr-only"
          >
            {year}
          </h2>

          <ul class="space-y-1.5 *:relative *:grid *:grid-cols-[var(--posts-date-w)_minmax(0,1fr)] desktop:space-y-0">
            {posts.map(({ data: { title, posted }, id }, index) => {
              const monthDay = getMonthDayDateFormatting(posted);
              const [month, day] = monthDay.split(" ");
              const previousPost = posts[index - 1];

              let hasSameYearAsLast =
                previousPost?.data.posted.getFullYear() ===
                posted.getFullYear();
              let hasSameMonthAsLast =
                previousPost?.data.posted.getUTCMonth() ===
                posted.getUTCMonth();

              return (
                <li class="group *:transition-colors">
                  <time
                    datetime={posted.toISOString()}
                    title={getFullDateFormatting(posted)}
                    class="grid grid-cols-1 text-link-secondary group-hover:text-link-secondary-hover sm:grid-cols-4"
                  >
                    <span
                      class:list={[
                        "hidden sm:inline",
                        {
                          "opacity-0 transition-opacity group-hover:opacity-100":
                            hasSameYearAsLast,
                        },
                      ]}
                    >
                      {posted.getFullYear()}
                    </span>

                    <span
                      class:list={[
                        "col-span-2 hidden sm:inline",
                        {
                          "opacity-0 transition-opacity group-hover:opacity-100":
                            hasSameMonthAsLast,
                        },
                      ]}
                    >
                      {month}
                    </span>

                    <span class="hidden sm:inline">{day}</span>

                    <span class="sm:hidden">{monthDay}</span>
                  </time>

                  <h3 class="flex justify-between gap-x-pad-2 text-lg leading-snug font-bold text-link-primary group-hover:text-link-primary-hover sm:text-xl sm:leading-(--text-xl--line-height) md:text-2xl">
                    <a
                      href={`/posts/${id}`}
                      class="after:absolute after:inset-0 after:z-1"
                    >
                      {title}
                    </a>

                    <SquareArrowRightIcon
                      aria-hidden="true"
                      size={ICON_SIZE}
                      class="shrink-0 stroke-icon transition-opacity group-hover:opacity-100 desktop:opacity-0"
                    />
                  </h3>
                </li>
              );
            })}
          </ul>
        </section>
      ))
    }

    <div class="space-y-pad">
      <h2 class="text-xl font-bold text-heading">otherworld</h2>
      <p class="max-w-(--content-w)">
        In the spirit of digital gardens, I'm also publishing my technical notes
        at <Link href="https://otherworld.czw.sh" target="_blank"
          >otherworld.czw.sh</Link
        > in the hopes that someone may find them useful.
      </p>
    </div>
  </main>
</CommonLayout>
