---
import { getCollection } from "astro:content";

import { CircleArrowRightIcon, FeatherIcon } from "@lucide/astro";

import {
  getFullDateFormatting,
  getMonthYearDateFormatting,
} from "@/scripts/util";
import { ICON_SIZE } from "@/scripts/constants";
import BaseLayout from "@/layouts/base-layout.astro";
import Header from "@/components/header.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.posted.getTime() - a.data.posted.getTime(),
);
---

<BaseLayout
  meta={{
    kind: "route",
    title: "Writing",
    description:
      "Random writing about stuff I've learned, things I'm working on, and interesting topics.",
    ogImageParams: "Random ramblings on stuff I've been doing.",
  }}
>
  <Header links={[]} />

  <main
    class="mx-auto w-full px-pad-2 pt-pad-2 desktop:w-4/5 desktop:px-pad lg:w-(--real-header-w) lg:pt-pad-3"
  >
    <h1 class="flex items-center gap-x-pad text-5xl font-bold text-heading">
      Writing <FeatherIcon size={2 * ICON_SIZE} class="stroke-icon" />
    </h1>

    <ul aria-label="Entries" class="*:group space-y-1 *:grid">
      {
        posts.map(({ data: { title, posted }, id }, index) => {
          const [month, day] = getMonthYearDateFormatting(posted).split(" ");
          const previousPost = posts[index - 1];

          let hasSameYearAsLast = false;
          if (previousPost) {
            hasSameYearAsLast =
              previousPost.data.posted.getFullYear() === posted.getFullYear();
          }

          return (
            <li
              class:list={[
                "group grid-cols-[minmax(0,0.5fr)_minmax(0,0.25fr)_minmax(0,0.25fr)_minmax(0,1fr)]",
                { "mt-pad-2": !hasSameYearAsLast && index !== 0 },
              ]}
            >
              <time
                datetime={posted.toISOString()}
                title={getFullDateFormatting(posted)}
                class="col-span-3 grid grid-cols-subgrid text-link-secondary transition-colors group-hover:text-link-secondary-hover"
              >
                <span class:list={[]}>{posted.getFullYear()}</span>

                <span class:list={[{ "col-start-2": hasSameYearAsLast }]}>
                  {month}
                </span>

                <span>{day}</span>
              </time>

              <h2 class="text-lg font-bold text-link-primary transition-colors group-hover:text-link-primary-hover">
                <a
                  href={`/posts/${id}`}
                  class="after:absolute after:inset-0 after:z-1"
                >
                  {title}
                </a>
              </h2>
            </li>
          );
        })
      }
    </ul>
  </main>
</BaseLayout>
