---
import Img from "@/components/img.astro";
import Link from "@/components/link.astro";

import Anchor from "@/components/mdx/anchor.astro";
import Aside from "@/components/mdx/aside.astro";
import Del from "@/components/mdx/del.astro";
import H2 from "@/components/mdx/h2.astro";
import H3 from "@/components/mdx/h3.astro";
import Li from "@/components/mdx/li.astro";
import Ul from "@/components/mdx/ul.astro";

import Footer from "@/layouts/footer.astro";
import Header from "@/layouts/header.astro";
import Layout from "@/layouts/layout.astro";
import Main from "@/layouts/main.astro";

import { getCollection } from "astro:content";
import { ArrowLeft, Clock3, Flag, Link2, Users, Wrench } from "lucide-astro";

const projectEntries = await getCollection("write-ups");
const project = projectEntries.find((project) => project.slug === Astro.params.slug);

if (!project) {
  return Astro.redirect("/404");
}

const { Content } = await project.render();
const {
  data: { title, link, blurb, duration, cover, tags, role, teamSize, published },
} = project;

const options: Intl.DateTimeFormatOptions = {
  month: "short",
  year: "numeric",
};

const meta = import.meta.env.DEV ? (published ? "[PUBLISHED] " : "[DRAFT] ") : "";
---

<Layout
  title={meta + title}
  description={blurb}
>
  <Header />

  <Main className="max-w-narrow">
    <Link
      href="/projects"
      className="flex -translate-x-1 items-center gap-1"
      ><ArrowLeft size={14} /> Go back</Link
    >

    <section class="animate-fade space-y-[0.7rem] [--order:0]">
      <h1 class="text-lg text-sweater-2">{title}</h1>
      <p>{blurb}</p>
    </section>

    <Img
      src={cover.img}
      alt={cover.alt}
      loading="eager"
      className="animate-fade border-2 border-sweater-9 [--order:0]"
    />

    <section class="grid animate-fade grid-cols-1 gap-y-[1.25rem] [--order:1] xxs:grid-cols-2">
      <div class="col-span-1">
        <p class="flex items-center font-mono font-[130] uppercase text-sweater-5">
          <Clock3
            size={14}
            class="mr-1.5"
          />
          Duration
        </p>
        <p class="text-sweater-3">
          {duration.from.toLocaleDateString("en-US", options)} — {
            duration.to.toLocaleDateString("en-US", options)
          } ({duration.length})
        </p>
      </div>

      <div class="col-span-1">
        <p class="flex items-center font-mono font-[130] uppercase text-sweater-5">
          <Wrench
            size={14}
            class="mr-1.5"
          />
          Built with
        </p>
        <p class="text-sweater-3">{tags.join(", ")}</p>
      </div>

      {
        teamSize ? (
          <div class="col-span-1">
            <p class="flex items-center font-mono font-[130] uppercase text-sweater-5">
              <Users
                size={14}
                class="mr-1.5"
              />
              Group-based
            </p>
            <p class="text-sweater-3">{`Team of ${teamSize}`}</p>
          </div>
        ) : null
      }

      <div class="col-span-1">
        <p class="flex items-center font-mono font-[130] uppercase text-sweater-5">
          <Flag
            size={14}
            class="mr-1.5"
          />
          Responsible for
        </p>
        <p class="text-sweater-3">{role.join(", ")}</p>
      </div>

      {
        link ? (
          <div class="col-span-1">
            <p class="flex items-center font-mono text-[14px] font-[130] uppercase text-sweater-5">
              <Link2
                size={16}
                class="mr-1.5"
              />
              {link.text}
            </p>
            <Link
              href={link.url}
              target="_blank"
              className="break-words"
            >
              {link.url}
            </Link>
          </div>
        ) : null
      }
    </section>

    {
      !published && import.meta.env.PROD ? (
        <div class="animate-fade rounded-lg border-2 border-sweater-6 bg-sweater-8 p-4 [--order:2]">
          <h2 class="text-sweater-3">Under construction! ⚙️</h2>
          <p>
            Apologies, I have not finished the write-up for this project yet. I will get to it
            eventually, promise. If I've provided a link above, go check that out instead!
          </p>
        </div>
      ) : (
        <article class="animate-fade space-y-5 leading-normal [--order:2]">
          <Content
            components={{
              h2: H2,
              h3: H3,
              ul: Ul,
              li: Li,
              del: Del,
              blockquote: Aside,
              a: Anchor,
              img: Img,
            }}
          />
        </article>
      )
    }
  </Main>

  <Footer />
</Layout>
