---
import { getCollection, getEntries } from "astro:content";
import ArrowRight from "lucide-astro/ArrowRight";
import Github from "lucide-astro/Github";
import Linkedin from "lucide-astro/Linkedin";
import Mail from "lucide-astro/Mail";
import ScrollText from "lucide-astro/ScrollText";

import Link from "@/components/link.astro";
import ProjectCover from "@/components/project-cover.astro";
import CommonLayout from "@/layouts/common-layout.astro";

let posts = await getCollection("posts");
posts = posts.sort((a, b) => b.data.posted.getTime() - a.data.posted.getTime()).slice(0, 3);

const projects = await getEntries([
  { collection: "projects", id: "mini-minecraft" },
  { collection: "projects", id: "door" },
  { collection: "projects", id: "path-tracer" },
  { collection: "projects", id: "rcw" },
]);
---

<CommonLayout
  meta={{
    kind: "route",
    title: null,
    description: "Computer graphics student at the University of Pennsylvania.",
    ogImageParams: "Graphics programming, games, websites.",
  }}
>
  <main class="space-y-12 py-12">
    <section
      class="span-normal *:animate-fade-in 480:grid-cols-2 gap-x-space px-space grid grid-cols-1 gap-y-5"
    >
      <p class="480:col-span-2 560:col-span-1 [--order:0]">
        Hi! I'm a third year student in the Digital Media Design program at UPenn. <span
          class="480:inline hidden"
          >I'm concurrently finishing a Master's degree in Computer Graphics and Game Technology.</span
        >
      </p>

      <p class="480:col-span-2 560:col-span-1 [--order:1]">
        At school I co-lead our game dev club <Link href="https://pennupgrade.com" target="_blank"
          >UPGRADE</Link
        > and help teach <Link href="https://www.cis.upenn.edu/~cis4600/current/" target="_blank"
          >CIS 5600</Link
        >, our intro graphics class. Last summer I interned on the Effects team at TikTok in San
        Jose.
      </p>

      <p class="subtitle [--order:2]">
        In my free time I like running, making playlists, learning the bass, and riding SEPTA.
      </p>

      <p class="subtitle 480:block hidden [--order:3]">
        You can find my socials and resumé below. Thanks for stopping by. <span
          aria-hidden="true"
          class="cursor-[url('/src/assets/mewo.webp')_32_32,_not-allowed] whitespace-nowrap"
          >(〜￣▽￣)〜</span
        >
      </p>

      <div
        class="480:col-span-2 480:gap-x-space *:animate-fade-in col-span-1 grid grid-cols-2 gap-x-4 gap-y-4 pt-4.5 sm:grid-cols-4"
      >
        <a
          href="/_files/resume.pdf"
          target="_blank"
          class="bg-sweater-9 text-sweater-3 hover:bg-sweater-8 berkeley flex items-center justify-between rounded-lg px-3.5 py-2 transition-colors [--order:1]"
          >Resume <ScrollText size={18} /></a
        >
        <a
          href="https://www.linkedin.com/in/zwcharl/"
          target="_blank"
          class="bg-sweater-9 text-sweater-3 hover:bg-sweater-8 berkeley flex items-center justify-between rounded-lg px-3.5 py-2 transition-colors [--order:2]"
          >LinkedIn <Linkedin size={18} /></a
        >
        <a
          href="https://www.github.com/aczw"
          target="_blank"
          class="bg-sweater-9 text-sweater-3 hover:bg-sweater-8 berkeley flex items-center justify-between rounded-lg px-3.5 py-2 transition-colors [--order:3]"
          >GitHub <Github size={18} /></a
        >
        <a
          href="mailto:zwcharl@gmail.com"
          target="_blank"
          class="bg-sweater-9 text-sweater-3 hover:bg-sweater-8 berkeley flex items-center justify-between rounded-lg px-3.5 py-2 transition-colors [--order:4]"
          >Email <Mail size={18} /></a
        >
      </div>
    </section>

    <section class="span-wide 480:grid-cols-2 gap-space grid grid-cols-1">
      {
        projects.map((project, idx) => {
          const {
            data: { name, metadata, cover },
            id,
          } = project;

          return (
            <a
              href={`/projects/${id}`}
              class="group animate-fade-in relative h-fit transition-opacity"
              style={{ "--order": idx + 1 }}
            >
              <ProjectCover
                id={id}
                cover={cover}
                useVideo={id === "mini-minecraft" || id === "rcw" ? { small: true } : null}
                class="overflow-hidden rounded-xl transition group-hover:scale-[0.93] group-hover:opacity-50"
              />

              <div class="bg-sweater-9 absolute inset-x-0 bottom-0 rounded-xl">
                <div class="grid grid-rows-[0fr] transition-[grid-template-rows] group-hover:grid-rows-[1fr]">
                  <div class="overflow-hidden">
                    <div class="flex items-center justify-between gap-4 p-4">
                      <div>
                        <h2 class="text-sweater-3">{name}</h2>
                        <ul class="flex flex-wrap gap-x-2">
                          {metadata.tech.map((tech, idx) => (
                            <li class="berkeley text-sweater-4">
                              {tech}
                              {idx !== metadata.tech.length - 1 ? (
                                <span aria-hidden="true" class="text-sweater-7">
                                  /
                                </span>
                              ) : null}
                            </li>
                          ))}
                        </ul>
                      </div>

                      <ArrowRight
                        size="34"
                        class="bg-sweater-8 stroke-sweater-5 shrink-0 rounded-full stroke-[2.5] p-1.5"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </a>
          );
        })
      }
    </section>

    <section class="span-normal flex flex-col [--fade-speed:50ms]">
      {
        posts.map((post, idx) => {
          const {
            data: { title, posted },
            id,
          } = post;

          return (
            <a
              href={`/posts/${id}`}
              class="group animate-fade-in border-sweater-9 480:flex-row 480:gap-space flex flex-col justify-between border-t-2 py-4 *:transition-colors last:border-b-2"
              style={{ "--order": idx + 2 }}
            >
              <h2 class="480:subtitle group-hover:text-sweater-1">{title}</h2>

              <time
                datetime={posted.toISOString()}
                class="berkeley text-sweater-5 group-hover:text-sweater-3 shrink-0"
              >
                <span class="480:hidden">Posted on </span>
                {posted.toLocaleDateString("en-US", {
                  month: "long",
                  day: "numeric",
                  timeZone: "America/New_York",
                })}
              </time>
            </a>
          );
        })
      }
    </section>
  </main>
</CommonLayout>
