---
import {
  FileUserIcon,
  GithubIcon,
  LinkedinIcon,
  MailIcon,
} from "@lucide/astro";

import Header from "@/components/header.astro";
import Link from "@/components/link.astro";
import BaseLayout from "@/layouts/base-layout.astro";
import type { LinkWithIcon } from "@/scripts/types";
import { getEntries } from "astro:content";
import ProjectCover from "@/components/project-cover.astro";

const socials: LinkWithIcon[] = [
  { href: "/_files/resume.pdf", label: "Resume", icon: FileUserIcon },
  {
    href: "https://linkedin.com/in/zwcharl",
    label: "LinkedIn",
    icon: LinkedinIcon,
  },
  { href: "https://github.com/aczw", label: "GitHub", icon: GithubIcon },
  { href: "mailto:zwcharl@gmail.com", label: "Email", icon: MailIcon },
];

// Stuff below assumes this will only ever have 4 entries
const projects = await getEntries([
  { collection: "projects", id: "mini-minecraft" },
  { collection: "projects", id: "rcw" },

  { collection: "projects", id: "path-tracer" },
  { collection: "projects", id: "door" },
]);
---

<BaseLayout
  meta={{
    kind: "route",
    title: null,
    description: "Computer graphics student at the University of Pennsylvania.",
    ogImageParams: "Graphics programming, games, websites.",
  }}
>
  <div class="overflow-x-clip px-pad">
    <div
      class="mx-auto max-w-normal space-y-6 border-x-(length:--border-w) border-line-bright pt-6 sm:space-y-12 sm:pt-12"
    >
      <Header />

      <main class="space-y-6 sm:space-y-12">
        <section class="grid-line-before grid-line-after relative">
          <div class="grid grid-cols-2 gap-pad-2 p-pad">
            <p class="col-span-2 560:col-span-1">
              Hi! I'm a fourth year student in the Digital Media Design program
              at UPenn. I'm concurrently finishing a Master's in Computer
              Graphics and Game Technology.
            </p>
            <p class="col-span-2 560:col-span-1">
              I help run <Link href="https://pennupgrade.com/" target="_blank"
                >UPGRADE</Link
              >, our game dev club, and am part of the <Link
                href="https://cg.cis.upenn.edu/"
                target="_blank">CG@Penn</Link
              > student board. Previously I interned at Snap and TikTok to work on
              their graphics engines.
            </p>
            <p class="col-span-2 subtitle 480:col-span-1">
              In my free time I like running, making playlists, reading manga,
              and riding SEPTA.
            </p>
            <p class="hidden subtitle 480:block">
              You can find my socials and resumé below. Thanks for stopping by. <span
                aria-hidden="true"
                class="whitespace-nowrap">(〜￣▽￣)〜</span
              >
            </p>
          </div>

          <div
            class="col-span-1 grid grid-cols-2 divide-x-(length:--border-w) divide-y-(length:--border-w) divide-dashed divide-line-dark border-t-(length:--border-w) border-dashed border-line-dark font-bold text-sweater-3 480:grid-cols-4 480:divide-y-0 560:col-span-2"
          >
            {
              socials.map(({ href, label, icon: Icon }) => (
                <a
                  href={href}
                  target="_blank"
                  class="flex items-center justify-between p-pad transition-colors hover:bg-line-bright hover:text-sweater-1"
                >
                  <span>{label}</span>
                  <Icon size={18} class="stroke-sweater-6" />
                </a>
              ))
            }
          </div>
        </section>

        <section
          class="grid-line-before grid-line-after relative grid grid-cols-1 560:grid-cols-2"
        >
          {
            projects.map(
              (
                { data: { name, subtitle, blurb, metadata, cover }, id },
                index,
              ) => (
                <div
                  class="p-[calc(var(--spacing-pad)+2px)]"
                  class:list={[
                    "border-dashed border-line-dark",
                    // Gives top row of videos a bottom border
                    index < 2 ? "border-b-(length:--border-w)" : null,
                    // Gives all videos on the left a border
                    index % 2 === 0 ? "480:border-r-(length:--border-w)" : null,
                    // Adds bottom border to second-to-last video (for mobile)
                    index === projects.length - 2 ?
                      "border-b-(length:--border-w) 480:border-b-0"
                    : null,
                  ]}
                >
                  <a href={`/projects/${id}`} class="group">
                    <h2 class="rounded-t-lg bg-sweater-9 p-pad leading-tight text-sweater-3 transition-colors group-hover:bg-sweater-8">
                      <span class="font-bold">{name}</span>
                      {subtitle ?
                        <>
                          <span aria-hidden="true" class="text-sweater-6">
                            /
                          </span>
                          <span class="text-sweater-5">{subtitle}</span>
                        </>
                      : null}
                    </h2>

                    <div class="relative overflow-hidden rounded-b-lg">
                      <ProjectCover
                        id={id}
                        cover={cover}
                        useVideo={
                          id === "mini-minecraft" || id === "door" ?
                            { small: true }
                          : null
                        }
                      />

                      <div class="absolute inset-0 transition-colors group-hover:bg-sweater-9/80">
                        <div class="grid grid-rows-[0fr] overflow-hidden transition-[grid-template-rows] group-hover:grid-rows-[1fr]">
                          <div class="flex min-h-0 flex-col gap-pad bg-sweater-9 px-pad transition-colors group-hover:bg-sweater-8">
                            <p class="hidden subtitle 380:block 560:hidden sm:block">
                              {blurb}
                            </p>

                            <ul class="flex flex-wrap gap-x-1 pb-pad text-sweater-5">
                              {metadata.tech.map((tech, index) => (
                                <li class="text-sm">
                                  {tech}
                                  {index !== metadata.tech.length - 1 ?
                                    <span
                                      aria-hidden="true"
                                      class="font-sans font-normal text-sweater-6"
                                    >
                                      /
                                    </span>
                                  : null}
                                </li>
                              ))}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              ),
            )
          }
        </section>

        <section class="grid-line-before grid-line-after relative">
          Writing
        </section>
      </main>

      <footer class="grid-line-before relative mt-pad-2 pb-6 sm:pb-12">
        Footer
      </footer>
    </div>
  </div>
</BaseLayout>
