---
import { getCollection, getEntries } from "astro:content";

import Link from "@/components/link.astro";
import ProjectCover from "@/components/project-cover.astro";
import { getSocials } from "@/scripts/constants";
import {
  getFullDateFormatting,
  getMonthYearDateFormatting,
} from "@/scripts/util";
import MainLayout from "@/layouts/main-layout.astro";
import { CircleArrowRightIcon } from "@lucide/astro";

const socials = getSocials();

// Stuff below assumes this will only ever have 4 entries
const projects = await getEntries([
  { collection: "projects", id: "mini-minecraft" },
  { collection: "projects", id: "cuda-boids" },
  { collection: "projects", id: "path-tracer" },
  { collection: "projects", id: "door" },
]);

let posts = await getCollection("posts");
posts = posts
  .sort((a, b) => b.data.posted.getTime() - a.data.posted.getTime())
  .slice(0, 3);
---

<MainLayout
  meta={{
    kind: "route",
    title: null,
    description: "Computer graphics student at the University of Pennsylvania.",
    ogImageParams: "Graphics programming, games, art, and websites.",
  }}
>
  <section class="grid-line-before grid-line-after relative">
    <div class="grid grid-cols-2 gap-pad-2 p-pad">
      <p class="col-span-2 560:col-span-1">
        Hi! I'm a fourth year student in the Digital Media Design program at
        UPenn. I'm concurrently finishing a Master's in Computer Graphics and
        Game Technology.
      </p>
      <p class="col-span-2 560:col-span-1">
        I help run <Link href="https://pennupgrade.com/" target="_blank"
          >UPGRADE</Link
        >, our game dev club, and am part of the <Link
          href="https://cg.cis.upenn.edu/"
          target="_blank">CG@Penn</Link
        > student board. Previously I interned at Snap and TikTok to work on their
        graphics engines.
      </p>
      <p class="col-span-2 text-subtitle 480:col-span-1">
        In my free time I like running, making playlists, reading manga, and
        riding SEPTA.
      </p>
      <p class="hidden text-subtitle 480:block">
        You can find my socials and resumé below. Thanks for stopping by. <span
          aria-hidden="true"
          class="whitespace-nowrap">(〜￣▽￣)〜</span
        >
      </p>
    </div>

    <ul
      class="col-span-1 grid grid-cols-2 divide-x-(length:--border-w) divide-y-(length:--border-w) divide-dashed divide-line-dark border-t-(length:--border-w) border-dashed border-line-dark font-bold text-link-primary 480:grid-cols-4 480:divide-y-0 560:col-span-2"
    >
      {
        socials.map(({ href, label, icon: Icon }) => (
          <li>
            <a
              href={href}
              target="_blank"
              class="flex items-center justify-between p-pad transition-colors hover:bg-line-bright hover:text-link-primary-hover"
            >
              <span>{label}</span>
              <Icon size={18} class="stroke-icon" />
            </a>
          </li>
        ))
      }
    </ul>
  </section>

  <section
    class="grid-line-before grid-line-after relative grid grid-cols-1 560:grid-cols-2"
  >
    {
      projects.map(({ data: { name, subtitle, cover }, id }, index) => (
        <div
          class:list={[
            "border-dashed border-line-dark transition-colors hover:bg-sweater-9/50",
            // Adding some additional padding for optical alignment
            "p-[calc(var(--spacing-pad)+2px)]",
            // Gives top row of videos a bottom border
            index < 2 ? "border-b-(length:--border-w)" : null,
            // Gives all videos on the left a border
            index % 2 === 0 ? "480:border-r-(length:--border-w)" : null,
            // Adds bottom border to second-to-last video (for mobile)
            index === projects.length - 2 ?
              "border-b-(length:--border-w) 480:border-b-0"
            : null,
          ]}
        >
          <a href={`/projects/${id}`} class="group flex h-full flex-col">
            <h2 class="grow justify-between rounded-t-lg bg-sweater-9 p-pad leading-tight text-link-primary transition-colors group-hover:flex group-hover:bg-sweater-8">
              <span class="font-bold transition-colors group-hover:text-link-primary-hover">
                {name}
              </span>

              {subtitle ?
                <>
                  <span
                    aria-hidden="true"
                    class="text-sweater-6/70 group-hover:hidden"
                  >
                    /
                  </span>
                  <span class="text-link-secondary group-hover:hidden">
                    {subtitle}
                  </span>
                </>
              : null}

              <span class="hidden maple text-link-secondary-hover normal:group-hover:inline">{`/projects/${id}`}</span>
              <CircleArrowRightIcon
                size={18}
                class="hidden stroke-link-secondary-hover group-hover:block normal:hidden normal:group-hover:hidden"
              />
            </h2>

            <div class="grow-0 overflow-hidden rounded-b-lg">
              <ProjectCover id={id} cover={cover} useVideo={{ small: true }} />
            </div>
          </a>
        </div>
      ))
    }
  </section>

  <section class="grid-line-before grid-line-after relative">
    {
      posts.map(({ data: { title, posted }, id }) => (
        <a
          href={`/posts/${id}`}
          class="group flex border-dashed border-line-dark transition-colors not-last:border-b-(length:--border-w) hover:bg-line-bright"
        >
          <div class="flex grow flex-col-reverse justify-between p-pad 480:flex-row 480:gap-pad-2">
            <h2 class="leading-snug font-bold text-link-primary transition-colors group-hover:text-link-primary-hover">
              {title}
            </h2>

            <time
              datetime={posted.toISOString()}
              title={getFullDateFormatting(posted)}
              class="shrink-0 leading-snug text-link-secondary 560:group-hover:hidden"
            >
              <span class="480:hidden">Posted</span>
              {getMonthYearDateFormatting(posted)}
            </time>
            <div
              aria-hidden="true"
              title={getFullDateFormatting(posted)}
              class="hidden maple text-link-secondary-hover 560:group-hover:block"
            >{`/posts/${id}`}</div>
          </div>

          <div class="py-pad pr-pad pl-pad 480:pl-0">
            <CircleArrowRightIcon size={18} class="stroke-icon" />
          </div>
        </a>
      ))
    }
  </section>
</MainLayout>
