---
import { getEntries } from "astro:content";
import { getCollection } from "astro:content";

import MainLayout from "@/layouts/main-layout.astro";
import Link from "@/components/link.astro";
import ProjectCoverControls from "@/components/project-cover-controls.astro";
import ProjectCover from "@/components/project-cover.astro";

const posts = await getCollection("posts");
const recentPosts = posts
  .filter((post) => post.data.published)
  .sort((a, b) => b.data.posted.getTime() - a.data.posted.getTime())
  .slice(0, 3);

const projects = await getEntries([
  { collection: "projects", slug: "mini-minecraft" },
  { collection: "projects", slug: "door" },
]);
---

<MainLayout
  meta={{
    kind: "route",
    title: null,
    description: "Computer graphics student at the University of Pennsylvania.",
    ogImageParams: "Graphics programming, games, websites.",
  }}
  useVerticalSpacing
>
  <section class="grid grid-cols-1 gap-x-6 gap-y-5 sm:grid-cols-2 content:gap-y-8">
    <p class="animate-fade [--order:0]">
      Hi, I'm Charles. I'm a student at the University of Pennsylvania studying computer graphics
      and CS as part of the Digital Media Design program. I'm interested in graphics programming,
      making games, design, and building websites.
    </p>

    <p class="animate-fade [--order:0]">
      At school, I co-lead our game dev club <Link href="https://pennupgrade.com" target="_blank"
        >UPGRADE</Link
      > and am a member of our SIGGRAPH chapter. I'm also on the creative team for PennApps, our collegiate
      hackathon. In the past I helped design TEDxPenn's annual conference theme.
    </p>

    <p class="subtitle animate-fade [--order:1]">
      In my free time I like running, making playlists, learning the bass guitar, and riding SEPTA.
    </p>

    <p class="subtitle hidden animate-fade [--order:1] sm:block">
      Below are some things I've done, as well as my socials where you can find me. Thanks for
      stopping by. <span aria-hidden="true" class="cursor-mewo whitespace-nowrap">(〜￣▽￣)〜</span>
    </p>
  </section>

  <section class="space-y-4">
    <div class="flex animate-fade items-center justify-between gap-4 [--order:1]">
      <h2 class="text-xl">Some projects</h2>

      <div class="flex gap-2">
        <ProjectCoverControls />
        <a href="/projects" class="pill whitespace-nowrap leading-none" data-quiet>View more</a>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
      {
        projects.map(({ data: { name, metadata, cover }, slug }, idx) => (
          <a href={`/projects/${slug}`} class="group animate-fade" style={{ "--order": idx + 1 }}>
            <ProjectCover
              slug={slug}
              cover={cover}
              useVideo={{ small: true }}
              class="overflow-hidden rounded-t-xl opacity-90 transition-opacity group-hover:opacity-100"
            />

            <div class="space-y-1.5 rounded-b-xl bg-sweater-9 p-4 transition-colors group-hover:bg-sweater-8">
              <h2 class="text-pretty">{name}</h2>

              <ul class="flex flex-wrap gap-2">
                {metadata.tech.map((tech) => (
                  <li class="berkeley rounded-full bg-sweater-8 px-2 py-1 leading-none text-sweater-3 transition-colors group-hover:bg-sweater-7">
                    {tech}
                  </li>
                ))}
              </ul>
            </div>
          </a>
        ))
      }
    </div>
  </section>

  <section class="space-y-4">
    <div class="flex animate-fade items-center justify-between gap-4 [--order:2]">
      <h2 class="text-xl">Recent posts</h2>
      <a href="/posts" class="pill leading-none" data-quiet>View more</a>
    </div>

    <ul class="flex flex-col [--fade-speed:50ms]">
      {
        recentPosts.map((post, idx) => {
          const {
            data: { title, posted },
            slug,
          } = post;

          return (
            <li
              class="group animate-fade border-t-thin border-sweater-9"
              style={{ "--order": idx + 2 }}
            >
              <a
                href={`/posts/${slug}`}
                class="flex flex-col justify-between py-4 *:transition-colors xs:flex-row xs:gap-4"
              >
                <h2 class="subtitle text-pretty group-hover:text-sweater-1">{title}</h2>

                <time
                  datetime={posted.toISOString()}
                  class="berkeley text-sweater-5 group-hover:text-sweater-3"
                >
                  {posted.toLocaleDateString("en-US", {
                    month: "long",
                    day: "numeric",
                    timeZone: "America/New_York",
                  })}
                </time>
              </a>
            </li>
          );
        })
      }
    </ul>
  </section>
</MainLayout>
