---
import { actions } from "astro:actions";

import Link from "@/components/link.astro";
import Aside from "@/components/mdx/aside.astro";
import { getFullDateFormatting } from "@/scripts/util";

const { data, error } = await Astro.callAction(actions.aniList.getRecentActivity, {});

const available = !error;

if (!available) {
  return;
}

const activities: typeof data = [];
let count = 0;

for (const newAct of data) {
  if (activities.findIndex((act) => act.media.id === newAct.media.id) === -1) {
    activities.push(newAct);
    count++;

    // Only the 5 most recent unique entries
    if (count === 5) {
      break;
    }
  }
}

// Take the most recent activity and display it
const {
  createdAt,
  media: {
    title: { english, romaji, native },
    siteUrl: mediaUrl,
  },
  status,
  progress,
  type,
} = activities[0]!;

const date = new Date(createdAt * 1000);
const diffInDays = Math.floor((date.getTime() - new Date().getTime()) / 86400000);
const rtf = new Intl.RelativeTimeFormat("en", { numeric: "auto" });
const relativeTime = rtf.format(diffInDays, "days");
---

<div
  class="grid grid-cols-1 gap-x-pad-4 gap-y-pad-2 opacity-100 transition-opacity duration-500 md:grid-cols-2 starting:opacity-0"
>
  {
    available ?
      <>
        <ul class="flex gap-x-pad overflow-x-auto rounded-md md:justify-between">
          {activities.map(({ media: { coverImage, siteUrl } }) => (
            <li class="shrink-0">
              <a href={siteUrl} target="_blank" class="block">
                <img
                  src={coverImage.medium}
                  class="h-[4lh] rounded-md bg-sweater-9"
                  loading="eager"
                />
              </a>
            </li>
          ))}
        </ul>

        <div class="max-w-(--content-w) space-y-pad">
          <p title={getFullDateFormatting(date)} class="w-fit">
            Latest {type === "MANGA_LIST" ? "manga" : "anime"} activity from{" "}
            <time datetime={date.toISOString()}>{relativeTime}</time>.
          </p>
          <Aside>
            <p>
              {`${status.charAt(0).toUpperCase()}${status.slice(1)}`}{" "}
              {status.includes("complete") ?
                type === "MANGA_LIST" ?
                  "reading"
                : "watching"
              : null}{" "}
              {progress ? `${progress} of` : null}{" "}
              <Link href={mediaUrl} target="_blank">
                {english ?
                  english
                : romaji ?
                  romaji
                : native}
              </Link>
            </p>
          </Aside>
        </div>
      </>
    : null
  }
</div>
