---
import { actions } from "astro:actions";

import Link from "@/components/link.astro";
import Aside from "@/components/mdx/aside.astro";
import { getFullDateFormatting } from "@/scripts/util";

const { data, error } = await Astro.callAction(actions.aniList.getRecentActivity, {});

const available = !error;

if (!available) {
  return;
}

const activities = data.slice(0, 5);

const {
  createdAt,
  media: { title: potentialTitles, coverImage, siteUrl: mediaUrl },
  status,
  progress,
  type,
} = data[0]!;

const date = new Date(createdAt * 1000);
const now = new Date();
const diffInSeconds = Math.floor((date.getTime() - now.getTime()) / 1000 / 86400);

const rtf = new Intl.RelativeTimeFormat("en", { numeric: "auto" });
const relativeTime = rtf.format(diffInSeconds, "days");

const capitalizedStatus = `${status.charAt(0).toUpperCase()}${status.slice(1)}`;

let title = potentialTitles.native;
if (potentialTitles.english) {
  title = potentialTitles.english;
} else if (potentialTitles.romaji) {
  title = potentialTitles.romaji;
}
---

<div
  class="grid grid-cols-1 gap-x-pad-4 gap-y-pad opacity-100 transition-opacity duration-500 md:grid-cols-2 starting:opacity-0"
>
  {
    available ?
      <>
        <ul class="flex gap-x-pad overflow-hidden overflow-x-auto rounded-md md:justify-between">
          {activities.map(({ media: { coverImage, siteUrl } }) => (
            <li>
              <a href={siteUrl} target="_blank" class="block">
                <img
                  src={coverImage.medium}
                  class="h-[4lh] rounded-md bg-sweater-9"
                  loading="eager"
                />
              </a>
            </li>
          ))}
        </ul>

        <div class="max-w-(--content-w) space-y-pad">
          <p title={getFullDateFormatting(date)} class="w-fit">
            Latest {type === "MANGA_LIST" ? "manga" : "anime"} activity from{" "}
            <time datetime={date.toISOString()}>{relativeTime}</time>.
          </p>
          <Aside>
            {capitalizedStatus}{" "}
            {status.includes("complete") ?
              type === "MANGA_LIST" ?
                "reading"
              : "watching"
            : null}{" "}
            {progress ? progress : null}{" "}
            <Link href={mediaUrl} target="_blank">
              {title}
            </Link>
          </Aside>
        </div>
      </>
    : null
  }
</div>
