---
import Link from "@/components/link.astro";
import { Github, Linkedin, Mail } from "lucide-astro";

const iconSize = 22;
---

<footer class="mx-auto max-w-content bg-sweater-10 px-4 pb-4 content:pb-10">
  <span class="flex items-center justify-between border-t-2 border-sweater-9 pt-4">
    <div class="flex items-center space-x-4">
      <Link
        href="https://www.linkedin.com/in/zwcharl/"
        title="LinkedIn"
        newTab
        icon={false}
      >
        <Linkedin size={iconSize} />
      </Link>

      <Link
        href="https://www.github.com/aczw"
        title="GitHub"
        newTab
        icon={false}
      >
        <Github size={iconSize} />
      </Link>

      <Link
        href="mailto:zwcharl@gmail.com"
        title="Email"
        icon={false}
      >
        <Mail size={iconSize} />
      </Link>
    </div>
    <p class="font-mono text-sm text-sweater-7">
      <span
        id="scroll"
        class="italic text-sweater-8 transition-colors"
        aria-hidden="true"
      ></span> v2023.12.18
    </p>
  </span>
</footer>

<script>
  const fun = [
    "soitgoes",
    "aczw",
    "newfaces",
    "doitagain",
    "tilinfinity",
    "suboptimal",
    "promiseme",
    "allitcosts",
  ];

  const pick = fun[Math.floor(Math.random() * fun.length)];
  const offset = Math.floor(Math.random() * pick.length);

  document.getElementById("scroll")!.textContent = pick.slice(offset) + pick.slice(0, offset);

  setInterval(() => {
    const scroll = document.getElementById("scroll");
    const text = scroll!.textContent;
    scroll!.textContent = text!.slice(1) + text![0];
  }, 500);
</script>
