---
import {
  ToolCaseIcon,
  FeatherIcon,
  BoxesIcon,
  InfoIcon,
  ArrowUpToLineIcon,
} from "@lucide/astro";

import MusicIndicator from "@/components/music-indicator.astro";
import { ICON_SIZE, FLAVOR_TEXTS } from "@/scripts/constants";
import Link from "@/components/link.astro";
---

<footer
  class="overflow-x-clip border-t-(length:--border-w) border-style desktop:mb-10"
>
  <div
    class="mx-auto grid w-full grid-cols-1 gap-x-pad-4 gap-y-pad-2 px-pad-2 pt-pad-4 pb-pad-2 desktop:w-4/5 desktop:px-pad sm:grid-cols-2 lg:w-(--real-header-w)"
  >
    <div class="space-y-pad-3">
      <a
        href="#"
        class="flex items-center justify-between font-bold text-link-secondary transition-colors hover:text-link-secondary-hover"
        >Back to top <ArrowUpToLineIcon
          size={ICON_SIZE}
          class="stroke-icon"
        /></a
      >
    </div>

    <div class="space-y-pad-2 desktop:space-y-pad-3">
      <div
        class="grid grid-cols-2 gap-x-pad-2 gap-y-0.5 font-bold *:flex *:items-center *:justify-between *:gap-x-pad *:text-link-primary *:transition-colors *:hover:text-link-primary-hover md:text-lg"
      >
        <a href="/projects">
          Portfolio <ToolCaseIcon
            aria-hidden="true"
            size={ICON_SIZE}
            class="shrink-0 stroke-icon"
          />
        </a>
        <a href="/posts">
          Writing <FeatherIcon
            aria-hidden="true"
            size={ICON_SIZE}
            class="shrink-0 stroke-icon"
          />
        </a>
        <a href="/archive">
          Archive <BoxesIcon
            aria-hidden="true"
            size={ICON_SIZE}
            class="shrink-0 stroke-icon"
          />
        </a>
        <a href="/about">
          About <MusicIndicator size={ICON_SIZE} server:defer>
            <InfoIcon
              aria-hidden="true"
              slot="fallback"
              size={ICON_SIZE}
              class="shrink-0 stroke-icon"
            />
          </MusicIndicator>
        </a>
      </div>

      <div class="grid grid-cols-2 gap-x-pad-2 gap-y-0.5">
        <Link href="https://twitter.com/zwcharl" target="_blank">Twitter</Link>
        <Link href="https://github.com/aczw" target="_blank">GitHub</Link>
        <Link href="https://linkedin.com/in/zwcharl" target="_blank"
          >LinkedIn</Link
        >
        <Link href="https://are.na/charles-zw" target="_blank">Are.na</Link>
      </div>

      <q
        id="flavor"
        class="cursor-default text-sm leading-snug text-sweater-7 italic before:content-none after:content-none desktop:text-base"
        style={{ opacity: 0 }}
      >
        {FLAVOR_TEXTS[0]}
      </q>
    </div>
  </div>
</footer>

<script>
  import { FLAVOR_TEXTS } from "@/scripts/constants";

  let text = FLAVOR_TEXTS[Math.floor(Math.random() * FLAVOR_TEXTS.length)]!;
  if (text.includes("/")) {
    text = text
      .split("/")
      .map((fragment) => `“${fragment.trim()}”`)
      .join(" / ");
  } else {
    text = `“${text}”`;
  }

  const flavorElt = document.getElementById("flavor")!;

  flavorElt.innerText = text;
  flavorElt.animate([{ opacity: 1 }], {
    duration: 400,
    easing: "ease-out",
    fill: "forwards",
  });
</script>
