---
import { Image } from "astro:assets";
import { actions } from "astro:actions";

import { MusicIcon } from "@lucide/astro";

import image400mg from "@/assets/400-mg.webp";

import Link from "@/components/link.astro";
import { ICON_SIZE } from "@/scripts/constants";

const { data: track, error } = await Astro.callAction(
  actions.getMostRecentTrack,
  {},
);

const available = !error;
---

<div
  class="space-y-pad opacity-100 transition-opacity duration-500 starting:opacity-0"
>
  <h3 class="font-bold text-heading">
    {
      available ?
        track.live ?
          "Currently listening to"
        : "Last listened to"
      : "Last.fm"
    }
  </h3>

  <div class="flex gap-x-3.5">
    {
      available && track.coverUrl ?
        <Image
          src={track.coverUrl}
          alt={`Cover image for ${track.songName} by ${track.artist}`}
          width={72}
          height={72}
          loading="eager"
          class="size-[3lh] shrink-0 rounded-md"
        />
      : <div class="flex size-[3lh] shrink-0 items-center justify-center rounded-md bg-sweater-9">
          <MusicIcon size={ICON_SIZE} class="stroke-icon" />
        </div>
    }

    <p>
      {
        available ?
          <>
            <Link
              href={track.songUrl}
              target="_blank"
              title={track.songName}
              class="line-clamp-1"
            >
              {track.songName}
            </Link>
            <span title={track.artist} class="line-clamp-1">
              by {track.artist}
            </span>
            <span title={track.album} class="line-clamp-1">
              from {track.album}
            </span>
          </>
        : <>
            I've been tracking my music listening history since 2021. It's fun
            to see the trends!{" "}
            <Link href="https://www.last.fm/user/ashzw" target="_blank">
              View my scrobbles.
            </Link>
          </>
      }
    </p>
  </div>
</div>

<div
  class="space-y-pad opacity-100 transition-opacity duration-500 starting:opacity-0"
>
  <h3 class="font-bold text-heading">
    {available ? "Last 7 days" : "Current Spotify playlist"}
  </h3>

  <div class="flex gap-x-3.5">
    {
      available ? null : (
        <Image
          src={image400mg}
          alt="Alley in a Philadelphia neighborhood. Cover for my Spotify playlist."
          class="size-[3lh] shrink-0 rounded-md md:hidden lg:block"
        />
      )
    }

    {
      available ?
        <ul class="*:line-clamp-1">
          <li>Top song: — 72 plays.</li>
          <li>Top album: — 72 plays.</li>
          <li>Top artist: — 72 plays.</li>
        </ul>
      : <p>
          Every so often I compile a playlist of my current rotation. It
          represents how I've been doing.
          <Link
            href="https://open.spotify.com/playlist/1dfHkaWMioz6lA6hWF1t6d"
            target="_blank"
          >
            Check it out.
          </Link>
        </p>
    }
  </div>
</div>
