---
import { actions } from "astro:actions";
import Music from "lucide-astro/Music";

const { data: track, error } = await Astro.callAction(actions.getMostRecentTrack, {});
const available = !error;

let title = null;
if (available) {
  title = `${track.live ? "Currently listening to" : "Last listened to"} ${track.songName} by ${track.artist}`;
}
---

<a
  href={available ? track.songUrl : "https://www.last.fm/user/ashzw"}
  target="_blank"
  title={title}
  class:list={["block", { "animate-pulse": available && track.live }]}
>
  <div class="pill flex w-fit gap-2" data-quiet="true">
    <Music size={15} class="inline shrink-0" />

    <span
      class="line-clamp-1 hidden w-full animate-fade break-all leading-[1.1] [--order:0] 380:[display:-webkit-box]"
    >
      {available ? `${track.artist} — ${track.songName}` : "Scrobbles"}
    </span>
    <span class="animate-fade leading-[1.1] [--order:0] 380:hidden">
      {available && track.live ? "Scrobbling" : "Scrobbles"}
    </span>
  </div>
</a>
