---
import { Image } from "astro:assets";
import { actions } from "astro:actions";

import image400mg from "@/assets/400-mg.webp";
import Link from "@/components/link.astro";

const { data: topStats, error: getTopStatsError } = await Astro.callAction(
  actions.lastFm.getTopStats,
  {},
);

const available = !getTopStatsError;
---

<div
  class="space-y-pad opacity-100 transition-opacity duration-500 starting:opacity-0"
>
  <h3 class="font-bold text-heading">
    {available ? "Last 7 days" : "Current Spotify playlist"}
  </h3>

  <div class="flex gap-x-3.5">
    {
      available ? null : (
        <Image
          src={image400mg}
          alt="Alley in a Philadelphia neighborhood. Cover for my Spotify playlist."
          class="size-[3lh] shrink-0 rounded-md md:hidden lg:block"
        />
      )
    }

    {
      available ?
        <ul class="*:line-clamp-1">
          <li>
            Top song:{" "}
            <Link href={topStats.track.url} target="_blank">
              {topStats.track.name}
            </Link>{" "}
            — {topStats.track.count} plays.
          </li>

          <li>
            Top album:{" "}
            <Link href={topStats.album.url} target="_blank">
              {topStats.album.name}
            </Link>{" "}
            — {topStats.album.count} plays.
          </li>

          <li>
            Top artist:{" "}
            <Link href={topStats.artist.url} target="_blank">
              {topStats.artist.name}
            </Link>{" "}
            — {topStats.artist.count} plays.
          </li>
        </ul>
      : <p>
          Every so often I compile a playlist of my current rotation. It
          represents how I've been doing.
          <Link
            href="https://open.spotify.com/playlist/1dfHkaWMioz6lA6hWF1t6d"
            target="_blank"
          >
            Check it out.
          </Link>
        </p>
    }
  </div>
</div>
