---
import api from "@/utils/api";

interface LastFmProfile {
  user: {
    name: string;
    age: string;
    subscriber: string;
    realname: string;
    bootstrap: string;
    playcount: string;
    artist_count: string;
    playlists: string;
    track_count: string;
    album_count: string;
    image: {
      size: "small" | "medium" | "large" | "extralarge";
      "#text": string;
    }[];
    registered: {
      unixtime: string;
      "#text": number;
    };
    country: string;
    gender: string;
    url: string;
    type: string;
  };
}

interface LastFmWeeklyTracks {
  weeklytrackchart: {
    track: {
      artist: { mbid: string; "#text": string };
      image: { size: "small" | "medium" | "large"; "#text": string }[];
      mbid: string;
      url: string;
      name: string;
      "@attr": {
        rank: string;
      };
      playcount: string;
    }[];
    "@attr": {
      from: string;
      user: string;
      to: string;
    };
  };
}

const { user: profile } = await api<LastFmProfile>(
  `http://ws.audioscrobbler.com/2.0/?method=user.getinfo&user=ashzw&api_key=${
    import.meta.env.LASTFM_API_KEY
  }&format=json`,
);

const { weeklytrackchart: tracks } = await api<LastFmWeeklyTracks>(
  `https://ws.audioscrobbler.com/2.0/?method=user.getweeklytrackchart&user=ashzw&api_key=${
    import.meta.env.LASTFM_API_KEY
  }&format=json`,
);

const topThree = tracks.track.slice(0, 3);
---

<div
  class="col-span-4 row-span-2 flex h-[194px] max-w-[400px] flex-col justify-between rounded-xl bg-sweater-9 p-5 text-sweater-1 2xl:h-[244px] 2xl:max-w-[500px] 2xl:p-8 2xl:justify-start space-y-6"
>
  <p>
    I really like music and <a
      href={profile.url}
      target="_blank"
      class="font-bold text-sweater-2 transition-colors hover:text-sweater-1 hover:underline"
      >I really like tracking it.</a
    > I currently have <span class="text-sweater-2">{profile.playcount}</span>
     total scrobbles across <span class="text-sweater-2"
      >{profile.artist_count}</span
    > artists, <span class="text-sweater-2">{profile.album_count}</span> albums,
    and <span class="text-sweater-2">{profile.track_count}</span> songs.
  </p>
  <p class="line-clamp-3">
    My current top tracks this week are <span class="text-sweater-2"
      ><a
        href={topThree[0].url} target="_blank"
        class="hover:text-sweater-1 hover:underline"
        >{topThree[0].name}</a
      > ({topThree[0].playcount} times)</span
    >,
    <span class="text-sweater-2"
      ><a
        href={topThree[1].url} target="_blank"
        class="hover:text-sweater-1 hover:underline"
        >{topThree[1].name}</a
      > ({topThree[1].playcount} times)</span
    >, and
    <span class="text-sweater-2"
      ><a
        href={topThree[2].url} target="_blank"
        class="hover:text-sweater-1 hover:underline"
        >{topThree[2].name}</a
      > ({topThree[2].playcount} times)</span>.
  </p>
</div>
