---
import api from "@/utils/api";

interface LastFmProfile {
  user: {
    name: string;
    age: string;
    subscriber: string;
    realname: string;
    bootstrap: string;
    playcount: string;
    artist_count: string;
    playlists: string;
    track_count: string;
    album_count: string;
    image: {
      size: "small" | "medium" | "large" | "extralarge";
      "#text": string;
    }[];
    registered: {
      unixtime: string;
      "#text": number;
    };
    country: string;
    gender: string;
    url: string;
    type: string;
  };
}

interface LastFmRecentTracks {
  recenttracks: {
    track: {
      artist: {
        mbid: string;
        "#text": string;
      };
      streamable: string;
      image: {
        size: "small" | "medium" | "large" | "extralarge";
        "#text": string;
      }[];
      mbid: string;
      album: {
        mbid: string;
        "#text": string;
      };
      name: string;
      "@attr"?: {
        nowplaying: "true" | "false";
      };
      url: string;
    }[];
    "@attr": {
      user: string;
      totalPages: string;
      page: string;
      perPage: string;
      total: string;
    };
  };
}

const { user: profile } = await api<LastFmProfile>(
  `http://ws.audioscrobbler.com/2.0/?method=user.getinfo&user=ashzw&api_key=${
    import.meta.env.LASTFM_API_KEY
  }&format=json`,
);

const { recenttracks: recent } = await api<LastFmRecentTracks>(
  `https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=ashzw&api_key=${
    import.meta.env.LASTFM_API_KEY
  }&limit=1&format=json`,
);

const firstTrack = recent.track[0];
const nowPlaying = firstTrack["@attr"]
  ? firstTrack["@attr"].nowplaying === "true"
  : false;
---

<div
  class="row-span-2 col-span-4 bg-sweater-9 rounded-xl p-5 flex flex-col justify-between text-sweater-1 sm:w-[384px] sm:h-[182px]"
>
  <h4 class="text-sweater-2 font-bold">Last.fm profile</h4>
  <p>
    <span class="text-sweater-3">{profile.playcount}</span> total scrobbles
    across <span class="text-sweater-3">{profile.artist_count}</span>
     artists, <span class="text-sweater-3">{profile.album_count}</span>
     albums, and <span class="text-sweater-3">{profile.track_count}</span>
     songs
  </p>
  <h4 class="text-sweater-2 font-bold">
    {nowPlaying ? "Currently listening to" : "Last listened to"}
  </h4>
  <p class="line-clamp-1">
    <span class="text-sweater-3">{firstTrack.name}</span> by <span
      class="text-sweater-3">{firstTrack.artist["#text"]}</span
    > from <span class="text-sweater-3">{firstTrack.album["#text"]}</span>
  </p>
</div>
