---
import { GET, type Track } from "@/pages/api/last-fm.json";

import { Music } from "lucide-astro";

const response = await GET(Astro);
const track = response.ok ? ((await response.json()) as Track) : null;
const available = track !== null;

let title = null;
if (available) {
  title = `${track.live ? "Currently listening to" : "Last listened to"} ${track.song} by ${track.artist}`;
}
---

<div class="pill w-fit" data-quiet="true">
  <a
    href={available ? track.url : "https://www.last.fm/user/ashzw"}
    target="_blank"
    title={title}
    class:list={["flex gap-2", { "animate-pulse": available && track.live }]}
  >
    <Music size={15} class="inline shrink-0" />

    <span
      class="line-clamp-1 hidden w-full animate-fade break-all leading-[1.1] [--order:0] xs:[display:-webkit-box]"
    >
      {available ? `${track.artist} — ${track.song}` : "Scrobbles"}
    </span>
    <span class="animate-fade leading-[1.1] [--order:0] xs:hidden">
      {available && track.live ? "Scrobbling" : "Scrobbles"}
    </span>
  </a>
</div>
