---
import { Link } from "@/components/react/link";
import type { Portfolio } from "@/utils/types";
import { Image } from "astro:assets";

interface Props {
  portfolio: Portfolio;
  index: number;
}

const { portfolio, index } = Astro.props;

const href = portfolio.href ? portfolio.href : null;
---

<li
  class="group relative animate-fade"
  style={{ "--delay": `${(index + 1) * 50}ms` }}
>
  <Image
    class="border-ash-8 bg-ash-9 mb-6 rounded-lg transition-opacity group-hover:opacity-80"
    src={import(`../assets/portfolio/${portfolio.imgName}.png`)}
    alt={portfolio.name}
  />
  <span
    class="from-ash-10 absolute inset-0 flex flex-col items-center justify-end bg-gradient-to-t p-5 text-center opacity-0 transition-opacity group-hover:opacity-100"
  >
    <h4 class="text-ash-2 font-bold">
      {portfolio.name}
    </h4>
    <p>
      {portfolio.date}
    </p>
    {
      href ? (
        <Link
          href={href.url}
          newTab={href.newTab}
          className="leading-tight"
        >
          {href.name}
        </Link>
      ) : null
    }
  </span>
</li>
