---
import { Link } from "@/components/react/link";
import type { Portfolio } from "@/utils/types";
import { Image } from "astro:assets";

interface Props {
  portfolio: Portfolio;
  index: number;
}

const { portfolio, index } = Astro.props;

const href = portfolio.href ? portfolio.href : null;
---

<li
  class="group relative animate-fade"
  style={{ "--delay": `${(index + 1) * 15}ms` }}
>
  <Image
    class="mb-3 rounded-lg border-sweater-8 bg-sweater-9 transition-opacity group-hover:opacity-80"
    src={import(`../assets/portfolio/${portfolio.imgName}.png`)}
    alt={portfolio.name}
  />
  <span
    class="absolute inset-0 flex flex-col items-center justify-end bg-gradient-to-t from-sweater-10 p-5 text-center opacity-0 transition-opacity group-hover:opacity-100"
  >
    <h4 class="font-mono text-sm font-bold text-sweater-2">
      {portfolio.name}
    </h4>
    <p class="text-sweater-1">
      {portfolio.date}
    </p>
    {
      href ? (
        <Link
          href={href.url}
          newTab={href.newTab}
          className="leading-tight"
        >
          {href.name}
        </Link>
      ) : null
    }
  </span>
</li>
