---
import { Link } from "@/components/react/link";
import type { Project } from "@/utils/types";
import { Image } from "astro:assets";
import Badge from "./badge.astro";

interface Props {
  project: Project;
  index: number;
}

const { project, index } = Astro.props;
---

<div
  class="col-span-1 mb-10 animate-fade break-inside-avoid space-y-2.5 rounded-lg sm:mb-6 xl:mb-16"
  style={{ "--delay": `${(index + 1) * 80}ms` }}
>
  <Image
    class="max-h-52 rounded-lg bg-sweater-9 object-cover object-top xs:max-h-64 sm:max-h-72 lg:max-h-[345px]"
    src={import(`../assets/projects/${project.imgName}.png`)}
    alt={project.alt}
  />
  {
    project.href ? (
      <h3 class="pb-1.5 pt-1 font-mono text-xl leading-none">
        <Link
          href={project.href}
          newTab
        >
          {project.name}
        </Link>
      </h3>
    ) : (
      <h3 class="pt-1 font-mono text-xl leading-none text-sweater-2">
        {project.name}
      </h3>
    )
  }
  <div class="flex flex-wrap gap-2.5">
    {project.tags.map((tag) => <Badge>{tag}</Badge>)}
  </div>
  <p>
    {project.desc}
  </p>
</div>
