---
import { Link } from "@/components/react/link";
import type { Project } from "@/utils/types";
import { Image } from "astro:assets";
import Badge from "./badge.astro";

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<li class="grid gap-5 rounded-lg bg-sweater-9 p-5 sm:grid-cols-6">
  <Image
    class="rounded-md border-4 border-sweater-8 bg-sweater-8 sm:col-span-2 sm:block"
    src={import(`../assets/projects/${project.imgName}.png`)}
    alt={project.alt}
  />
  <div class="space-y-3 sm:col-span-4">
    <span class="flex flex-col justify-between sm:flex-row sm:items-end">
      {
        project.href ? (
          <Link
            href={project.href}
            newTab
            className="text-2xl font-mono"
          >
            <h3>{project.name}</h3>
          </Link>
        ) : (
          <h3 class="font-mono text-2xl text-sweater-3">{project.name}</h3>
        )
      }
      <p class="font-bold text-sweater-2">{project.date}</p>
    </span>
    <p class="p-0">
      {project.desc}
    </p>
    <div class="flex flex-wrap gap-2 pt-1">
      {project.tags.map((tag) => <Badge>{tag}</Badge>)}
    </div>
  </div>
</li>
