---
import { ArrowUpToLineIcon } from "@lucide/astro";
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

headings.forEach(({ depth, text }) => {
  if (depth === 1 || depth > 3) {
    throw new Error(`Heading "${text}" has depth ${depth}`);
  }
});
---

<aside class="sticky top-0 hidden h-screen grow overflow-y-auto normal:block">
  <nav>
    <a
      href="#content-begin"
      class="group flex flex-col border-b-(length:--border-w) border-dashed border-line-dark p-pad transition-colors hover:bg-line-dark"
    >
      <span
        class="text-lg leading-snug font-bold text-link-primary transition-colors group-hover:text-link-primary-hover"
        >Sections</span
      >

      <span
        class="flex items-center justify-between leading-none text-link-secondary transition-colors group-hover:text-link-secondary-hover"
      >
        Back to top <ArrowUpToLineIcon size={18} class="stroke-icon" />
      </span>
    </a>

    <div class="flex flex-col text-link-secondary">
      {
        headings.map(({ depth, slug, text }, index) => {
          return (
            <a
              href={`#${slug}`}
              class:list={[
                "pr-pad leading-[1.1] transition-colors hover:text-link-primary data-seen:text-link-primary data-seen:hover:text-link-primary-hover",

                index === 0 ? "pt-pad"
                : depth === 2 ? "pt-[calc(var(--spacing-pad)/1.6)]"
                : "pt-0.5",

                headings[index + 1]?.depth === 2 ?
                  "pb-[calc(var(--spacing-pad)/1.6)]"
                : "pb-0.5",

                depth === 2 ? "pl-pad" : "pl-pad-2",
              ]}
            >
              {text}
            </a>
          );
        })
      }
    </div>
  </nav>
</aside>

<script>
  const observer = new IntersectionObserver((entries) =>
    entries.forEach((entry) => {
      const id = entry.target.id;
      const link = document.querySelector<HTMLAnchorElement>(
        `nav a[href="#${id}"]`,
      );

      const windowHeight = entry.rootBounds!.height;
      if (windowHeight && link) {
        if (entry.boundingClientRect.y < windowHeight) {
          link.dataset["seen"] = "";
        } else {
          delete link.dataset["seen"];
        }
      }
    }),
  );

  document
    .querySelectorAll("h2[id], h3[id]")
    .forEach((heading) => observer.observe(heading));
</script>
