---
import type { MarkdownHeading } from "astro";

import {
  ArrowUpToLineIcon,
  PanelRightCloseIcon,
  PanelRightOpenIcon,
} from "@lucide/astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const MAX_HEADING_DEPTH = 4;

headings.forEach(({ depth, text }) => {
  if (depth === 1 || depth > MAX_HEADING_DEPTH) {
    throw new Error(`Heading "${text}" has depth ${depth}`);
  }
});
---

<aside class="sticky top-0 hidden h-screen overflow-y-auto toc:block">
  <nav>
    <div class="sticky inset-x-0 top-0">
      <a
        href="#introduction"
        title="Go back to top"
        class="flex items-center justify-between border-b-(length:--border-w) border-dashed border-line-dark bg-sweater-10 p-pad leading-none font-bold text-link-secondary transition-colors not-dark:bg-sweater-1 hover:bg-sweater-9 hover:text-link-secondary-hover not-dark:hover:bg-sweater-2"
      >
        <span class="group-data-[collapsed=true]/content-toc:hidden"
          >Back to top</span
        >
        <ArrowUpToLineIcon size={18} class="stroke-icon" />
      </a>

      <button
        id="collapse-toc"
        class="flex w-full items-center justify-between border-b-(length:--border-w) border-dashed border-line-dark bg-sweater-10 p-pad leading-none font-bold text-link-secondary transition-colors not-dark:bg-sweater-1 group-data-[collapsed=true]/content-toc:hidden hover:cursor-pointer hover:bg-sweater-9 hover:text-link-secondary-hover not-dark:hover:bg-sweater-2"
      >
        Collapse <PanelRightCloseIcon size={18} class="stroke-icon" />
      </button>
    </div>

    <button
      id="expand-toc"
      title="Expand table of contents"
      class="flex h-[calc(100vh-2*var(--spacing-pad)-18px-var(--border-w))] flex-col items-center p-pad text-lg leading-none font-bold text-link-secondary transition-colors group-data-[collapsed=false]/content-toc:hidden hover:cursor-pointer hover:bg-sweater-9 hover:text-link-secondary-hover not-dark:hover:bg-sweater-2"
    >
      <PanelRightOpenIcon size={18} class="mb-pad stroke-icon" />
      <span style="writing-mode: vertical-rl;text-orientation: mixed;">
        Contents
      </span>
    </button>

    <div
      class="flex flex-col text-link-secondary group-data-[collapsed=true]/content-toc:hidden"
    >
      <p class="p-pad text-lg leading-none font-bold text-link-primary">
        Contents
      </p>

      {
        headings.map(({ depth, slug, text }, index) => {
          return (
            <a
              href={`#${slug}`}
              class:list={[
                "pr-pad leading-[1.1] transition-colors first:pt-pad last:pb-pad hover:text-link-primary data-seen:text-link-primary data-seen:hover:text-link-primary-hover",

                depth === 2 ? "pt-[calc(var(--spacing-pad)*0.65)]" : "pt-0.5",

                headings[index + 1]?.depth === 2 ?
                  "pb-[calc(var(--spacing-pad)*0.65)]"
                : "pb-0.5",
              ]}
              style={{
                paddingLeft: `calc(${2 * depth - 3} * var(--spacing-pad))`,
              }}
            >
              {text}
            </a>
          );
        })
      }
    </div>
  </nav>
</aside>

<script>
  const observer = new IntersectionObserver((entries) =>
    entries.forEach((entry) => {
      const id = entry.target.id;
      const link = document.querySelector<HTMLAnchorElement>(
        `nav a[href="#${id}"]`,
      );

      const windowHeight = entry.rootBounds!.height;

      if (windowHeight && link) {
        if (entry.boundingClientRect.y < windowHeight) {
          link.dataset["seen"] = "";
        } else {
          delete link.dataset["seen"];
        }
      }
    }),
  );

  document
    .querySelectorAll("h2[id], h3[id], h4[id]")
    .forEach((heading) => observer.observe(heading));

  const contentToc = document.getElementById("content-toc")!;
  const collapseTocBtn = document.getElementById("collapse-toc")!;
  const expandTocBtn = document.getElementById("expand-toc")!;

  collapseTocBtn.addEventListener(
    "click",
    () => (contentToc.dataset["collapsed"] = "true"),
  );

  expandTocBtn.addEventListener(
    "click",
    () => (contentToc.dataset["collapsed"] = "false"),
  );
</script>
