---
import type { MarkdownHeading } from "astro";

import {
  ArrowUpToLineIcon,
  PanelRightCloseIcon,
  PanelRightOpenIcon,
} from "@lucide/astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const MAX_HEADING_DEPTH = 4;

headings.forEach(({ depth, text }) => {
  if (depth === 1 || depth > MAX_HEADING_DEPTH) {
    throw new Error(`Heading "${text}" has depth ${depth}`);
  }
});
---

<aside class="sticky top-0 hidden h-screen overflow-y-auto toc:block">
  <nav>
    <div class="sticky inset-x-0 top-0">
      <a
        href="#introduction"
        title="Go back to top"
        class="flex items-center justify-between border-b-(length:--border-w) border-dashed border-line-dark bg-sweater-10 p-pad leading-none font-bold text-link-secondary transition-colors not-dark:bg-sweater-1 hover:bg-sweater-9 hover:text-link-secondary-hover not-dark:hover:bg-sweater-2"
      >
        <span id="back-to-top">Back to top</span>
        <ArrowUpToLineIcon size={18} class="stroke-icon" />
      </a>

      <button
        id="collapse-toc"
        class="flex w-full items-center justify-between border-b-(length:--border-w) border-dashed border-line-dark bg-sweater-10 p-pad leading-none font-bold text-link-secondary transition-colors not-dark:bg-sweater-1 hover:cursor-pointer hover:bg-sweater-9 hover:text-link-secondary-hover not-dark:hover:bg-sweater-2"
      >
        Collapse <PanelRightCloseIcon size={18} class="stroke-icon" />
      </button>
    </div>

    <button
      id="expand-toc"
      title="Expand table of contents"
      class="flex h-[calc(100vh-2*var(--spacing-pad)-18px-var(--border-w))] flex-col items-center p-pad text-lg leading-none font-bold text-link-secondary transition-colors hover:cursor-pointer hover:bg-sweater-9 hover:text-link-secondary-hover not-dark:hover:bg-sweater-2"
      hidden=""
    >
      <PanelRightOpenIcon size={18} class="mb-pad stroke-icon" />
      <span style="writing-mode: vertical-rl;text-orientation: mixed;">
        Contents
      </span>
    </button>

    <div id="toc-headings" class="flex flex-col text-link-secondary">
      <p class="p-pad text-lg leading-none font-bold text-link-primary">
        Contents
      </p>

      {
        headings.map(({ depth, slug, text }, index) => {
          return (
            <a
              href={`#${slug}`}
              class:list={[
                "pr-pad leading-[1.1] transition-colors first:pt-pad last:pb-pad hover:text-link-primary data-seen:text-link-primary data-seen:hover:text-link-primary-hover",

                depth === 2 ? "pt-[calc(var(--spacing-pad)/1.6)]" : "pt-0.5",

                headings[index + 1]?.depth === 2 ?
                  "pb-[calc(var(--spacing-pad)/1.6)]"
                : "pb-0.5",
              ]}
              style={{ paddingLeft: `calc(${depth - 1} * var(--spacing-pad))` }}
            >
              {text}
            </a>
          );
        })
      }
    </div>
  </nav>
</aside>

<script>
  const observer = new IntersectionObserver((entries) =>
    entries.forEach((entry) => {
      const id = entry.target.id;
      const link = document.querySelector<HTMLAnchorElement>(
        `nav a[href="#${id}"]`,
      );

      const windowHeight = entry.rootBounds!.height;

      if (windowHeight && link) {
        if (entry.boundingClientRect.y < windowHeight) {
          link.dataset["seen"] = "";
        } else {
          delete link.dataset["seen"];
        }
      }
    }),
  );

  document
    .querySelectorAll("h2[id], h3[id], h4[id]")
    .forEach((heading) => observer.observe(heading));

  function addCollapsibleToc() {
    const contentToc = document.getElementById("content-toc")!;
    const backToTopText = document.getElementById("back-to-top")!;
    const tocHeadings = document.getElementById("toc-headings")!;

    const collapseTocBtn = document.getElementById("collapse-toc")!;
    const expandTocBtn = document.getElementById("expand-toc")!;

    // Invariant: collapse TOC button is only shown when we're
    // currently not collapsed
    collapseTocBtn.addEventListener("click", () => {
      contentToc.dataset["collapsed"] = "true";
      backToTopText.setAttribute("hidden", "");
      tocHeadings.setAttribute("hidden", "");

      expandTocBtn.removeAttribute("hidden");
      collapseTocBtn.setAttribute("hidden", "");
    });

    // Invariant: expand TOC button is only shown when we're
    // currently collapsed
    expandTocBtn.addEventListener("click", () => {
      contentToc.dataset["collapsed"] = "false";
      backToTopText.removeAttribute("hidden");
      tocHeadings.removeAttribute("hidden");

      collapseTocBtn.removeAttribute("hidden");
      expandTocBtn.setAttribute("hidden", "");
    });
  }

  addCollapsibleToc();
</script>
