---
import Link from "@/components/link.astro";
import CustomContent from "@/components/mdx/custom-content.astro";
import ContentLayout from "@/layouts/content-layout.astro";

import { getCollection } from "astro:content";
import { Calendar, GitCommitHorizontal } from "lucide-astro";

let changelog = await getCollection("changelog");
changelog.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<ContentLayout
  meta={{
    kind: "route",
    title: "Changelog",
    description: "All the updates I've made to my website, organized as a series of patch notes.",
    ogImageParams: "Release notes for this website.",
  }}
>
  <div class="space-y-1.5">
    <h1 class="text-xl">Changelog</h1>

    <div class="grid grid-cols-1 gap-6 xs:grid-cols-2">
      <p>
        All the updates I've made to this site, organized as a series of patch notes. See <Link
          href="/posts/changelogs">this post</Link
        > for more context.
      </p>

      <p class="subtitle">
        For commits from before I started tracking changes, I've retroactively assigned version
        numbers~
      </p>
    </div>
  </div>

  <div class="space-y-1.5">
    <h2 class="text-lg">Jump to a version</h2>
    <ul class="grid grid-cols-3 gap-y-1 xs:grid-cols-5 content:grid-cols-7">
      {
        changelog.map(({ data: { version }, slug }) => (
          <li>
            <Link href={`#${slug}`}>{version}</Link>
          </li>
        ))
      }
    </ul>
  </div>

  <div class="relative flex flex-col">
    {
      changelog.map(async (note) => {
        let {
          data: { version, date, commit },
          slug,
        } = note;

        let { Content } = await note.render();

        return (
          <article
            id={slug}
            class="group/note flex flex-col items-start gap-6 border-t-[1.5px] border-sweater-9 py-12 sm:flex-row"
          >
            <section class="flex flex-col sm:sticky sm:top-7 sm:w-1/4 sm:gap-0">
              <h2 class="font-mono font-[150] text-sweater-5 sm:mb-6">{version}</h2>

              <time
                datetime={date.toISOString()}
                title={date.toLocaleString("en-US", {
                  month: "long",
                  day: "numeric",
                  year: "numeric",
                  hour: "numeric",
                  minute: "numeric",
                  timeZoneName: "short",
                })}
                class="subtitle flex w-fit items-center"
              >
                <Calendar aria-hidden="true" size={14} class="mr-1.5 hidden shrink-0 sm:block" />

                {date.toLocaleString("en-US", {
                  month: "short",
                  day: "numeric",
                  year: "numeric",
                })}
              </time>

              <Link
                href={
                  commit
                    ? `https://github.com/aczw/personal-website/commit/${commit}`
                    : "https://github.com/aczw/personal-website/commits/"
                }
                target="_blank"
                className="hidden sm:flex sm:mb-8 items-center berkeley"
              >
                <GitCommitHorizontal aria-hidden="true" size={16} class="mr-1.5 shrink-0" />
                {commit ? commit.slice(0, 7) : "latest"}
              </Link>

              <a
                href="#"
                class="pill hidden w-fit leading-none transition sm:block sm:opacity-0 sm:group-hover/note:opacity-100"
                data-quiet
              >
                Back to top
              </a>
            </section>

            <section class="w-full space-y-6 sm:w-3/4">
              <CustomContent entryContent={Content} />
            </section>
          </article>
        );
      })
    }
  </div>
</ContentLayout>
