---
import { getCollection } from "astro:content";

import { ArrowRight } from "lucide-astro";

import ContentLayout from "@/layouts/content-layout.astro";

import Link from "@/components/link.astro";
import ReleaseContent from "@/components/mdx/release-content.astro";

let releases = await getCollection("changelog");
releases.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

let displayed = releases.slice(0, 3);
let previous = releases[3];
---

<ContentLayout
  meta={{
    kind: "route",
    title: "Changelog",
    description: "All the updates I've made to my website, organized as a series of patch notes.",
    ogImageParams: "Release notes for this website.",
  }}
>
  <div>
    <h1 class="mb-1.5 animate-fade text-xl [--order:0]">Changelog</h1>

    <div class="mb-12 grid grid-cols-1 gap-6 xs:grid-cols-2">
      <p class="animate-fade [--order:1]">
        All the updates I've made to this site, organized as a series of patch notes. See <Link
          href="/posts/changelogs">my post on changelogs</Link
        > for more context.
      </p>
      <p class="animate-fade [--order:2]">
        Only the three most recent releases are shown here. Feel free to visit any older versions
        via the links below.
      </p>
    </div>

    <ul
      class="pointer-events-none grid grid-cols-4 gap-y-1 border-y-[1.5px] border-sweater-9 py-6 [--fade-speed:50ms] xs:grid-cols-5 sm:grid-cols-6 content:grid-cols-7 [&>li:not(:hover)]:hover:brightness-[65%]"
    >
      {
        releases.map(({ data: { version }, slug }, index) => (
          <li class="animate-fade transition-[filter]" style={{ "--order": index }}>
            <Link
              href={`/changelog/${slug}`}
              className="pointer-events-auto transition-[filter,opacity,color]"
            >
              {version}
            </Link>
          </li>
        ))
      }
    </ul>
  </div>

  <div class="relative flex flex-col [--fade-speed:70ms]">
    {
      displayed.map(async (release, index) => (
        <ReleaseContent
          release={release}
          className="animate-fade border-t-[1.5px] border-sweater-9 py-12 first:border-t-0 first:pt-0"
          style={{ "--order": index + 1 }}
        />
      ))
    }

    <div class="flex flex-col gap-3 border-t-[1.5px] border-sweater-9 py-12 xs:flex-row xs:gap-6">
      <div class="w-full animate-fade [--order:0] xs:w-1/5">
        <h2>More releases</h2>
        <p class="subtitle">Previous changelog</p>
      </div>

      <a
        href={`/changelog/${previous.slug}`}
        class="group flex w-full animate-fade items-center justify-between rounded-lg bg-sweater-9 p-4 transition-colors [--order:1] hover:bg-sweater-8 xs:w-4/5"
      >
        <div>
          <p
            class="font-mono font-[150] text-sweater-5 transition-colors group-hover:text-sweater-4"
          >
            {previous.data.version}
          </p>
          <p class="subtitle">
            Released
            {
              previous.data.date.toLocaleString("en-US", {
                month: "long",
                day: "numeric",
                year: "numeric",
              })
            }
          </p>
        </div>

        <div
          aria-hidden="true"
          class="rounded-full bg-sweater-8 p-1 transition-colors group-hover:bg-sweater-7"
        >
          <ArrowRight
            class="shrink-0 stroke-sweater-5 transition-colors group-hover:stroke-sweater-4"
          />
        </div>
      </a>
    </div>
  </div>
</ContentLayout>
