---
import Link from "@/components/link.astro";
import CustomContent from "@/components/mdx/custom-content.astro";
import ContentLayout from "@/layouts/content-layout.astro";

import { getCollection } from "astro:content";
import { ArrowRight, Calendar, GitCommitHorizontal } from "lucide-astro";

let changelog = await getCollection("changelog");
changelog.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

let displayed = changelog.slice(0, 3);
let previous = changelog[3];
---

<ContentLayout
  meta={{
    kind: "route",
    title: "Changelog",
    description: "All the updates I've made to my website, organized as a series of patch notes.",
    ogImageParams: "Release notes for this website.",
  }}
>
  <div>
    <h1 class="mb-1.5 animate-fade text-xl [--order:0]">Changelog</h1>

    <div class="mb-12 grid grid-cols-1 gap-6 xs:grid-cols-2">
      <p class="animate-fade [--order:1]">
        All the updates I've made to this site, organized as a series of patch notes. See <Link
          href="/posts/changelogs">my post on changelogs</Link
        > for more context.
      </p>
      <p class="animate-fade [--order:2]">
        Only the three most recent releases are shown here. Feel free to visit any older versions
        via the links below.
      </p>
    </div>

    <ul
      class="grid grid-cols-3 gap-y-1 border-y-[1.5px] border-sweater-9 py-6 [--fade-speed:50ms] xs:grid-cols-5 content:grid-cols-7"
    >
      {
        changelog.map(({ data: { version }, slug }, index) => (
          <li class="animate-fade" style={{ "--order": index }}>
            <Link href={`/changelog/${slug}`}>{version}</Link>
          </li>
        ))
      }
    </ul>
  </div>

  <div class="relative flex flex-col [--fade-speed:70ms]">
    {
      displayed.map(async (note, index) => {
        let {
          data: { version, date, commit },
        } = note;

        let { Content } = await note.render();

        return (
          <article
            class="flex animate-fade flex-col items-start gap-6 border-t-[1.5px] border-sweater-9 py-12 first:border-t-0 first:pt-0 sm:flex-row"
            style={{ "--order": index + 1 }}
          >
            <section class="flex shrink-0 flex-col sm:sticky sm:top-7 sm:w-1/5 sm:gap-0">
              <h2 class="font-mono font-[150] text-sweater-5 sm:mb-6">{version}</h2>

              <time
                datetime={date.toISOString()}
                title={date.toLocaleString("en-US", {
                  month: "long",
                  day: "numeric",
                  year: "numeric",
                  hour: "numeric",
                  minute: "numeric",
                  timeZoneName: "short",
                })}
                class="subtitle flex w-fit items-center"
              >
                <Calendar aria-hidden="true" size={14} class="mr-1.5 hidden shrink-0 sm:block" />

                {date.toLocaleString("en-US", {
                  month: "short",
                  day: "numeric",
                  year: "numeric",
                })}
              </time>

              <Link
                href={
                  commit
                    ? `https://github.com/aczw/personal-website/commit/${commit}`
                    : "https://github.com/aczw/personal-website/commits/"
                }
                target="_blank"
                className="hidden sm:flex sm:mb-8 items-center berkeley"
              >
                <GitCommitHorizontal aria-hidden="true" size={16} class="mr-1.5 shrink-0" />
                {commit ? commit.slice(0, 7) : "latest"}
              </Link>
            </section>

            <section class="w-full space-y-6 sm:w-3/4">
              <CustomContent entryContent={Content} />
            </section>
          </article>
        );
      })
    }

    <div class="flex flex-col gap-3 border-t-[1.5px] border-sweater-9 py-12 xs:flex-row xs:gap-6">
      <h2 class="w-full animate-fade [--order:0] xs:w-1/5">Previous changelog</h2>

      <a
        href={`/changelog/${previous.slug}`}
        class="group flex w-full animate-fade items-center justify-between rounded-lg bg-sweater-9 p-4 transition-colors [--order:1] hover:bg-sweater-8 xs:w-4/5"
      >
        <div>
          <p
            class="font-mono font-[150] text-sweater-5 transition-colors group-hover:text-sweater-4"
          >
            {previous.data.version}
          </p>
          <p class="subtitle flex items-center">
            Released
            {
              previous.data.date.toLocaleString("en-US", {
                month: "long",
                day: "numeric",
                year: "numeric",
              })
            }
          </p>
        </div>

        <div
          aria-hidden="true"
          class="rounded-full bg-sweater-8 p-1 transition-colors group-hover:bg-sweater-7"
        >
          <ArrowRight
            class="shrink-0 stroke-sweater-5 transition-colors group-hover:stroke-sweater-4"
          />
        </div>
      </a>
    </div>
  </div>
</ContentLayout>
