---
import type { GetStaticPaths } from "astro";
import { getCollection, getEntry, render } from "astro:content";
import { Image } from "astro:assets";
import { CalendarFold, ExternalLink, FileCode, Wrench } from "lucide-astro";

import ProjectCover from "@/components/project-cover.astro";
import CommonLayout from "@/layouts/common-layout.astro";
import TableOfContents from "@/components/table-of-contents.astro";

import Anchor from "@/components/mdx/anchor.astro";
import Aside from "@/components/mdx/aside.astro";
import H2 from "@/components/mdx/h2.astro";
import H3 from "@/components/mdx/h3.astro";
import Link from "@/components/link.astro";

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");
  return projects.map((project) => {
    return { params: { id: project.id } };
  });
}) satisfies GetStaticPaths;

const { id } = Astro.params;
const project = await getEntry("projects", id)!;

// Destructure everything
const {
  data: {
    name,
    blurb,
    metadata: { tech, link, sourceHref, date },
    cover,
  },
} = project;

const { Content, headings } = await render(project);
---

<CommonLayout meta={{ kind: "project", project }}>
  <main class="py-12">
    <article class="space-y-12">
      <div class="span-wide">
        <ProjectCover
          id={id}
          cover={cover}
          useVideo={{ small: false }}
          class="overflow-hidden rounded-xl"
        />
      </div>

      <div class="span-normal space-y-1">
        <h1 class="text-3xl">{name}</h1>
        <p class="subtitle">{blurb}</p>
      </div>

      <section
        class="span-normal mt-6 grid grid-cols-1 gap-3 leading-tight xs:grid-cols-2 xs:gap-4"
      >
        <div class="flex items-center gap-4 rounded-xl bg-sweater-9 px-3 py-2 560:px-4">
          <Wrench class="hidden shrink-0 stroke-sweater-3 560:block" />
          <div>
            <h2 class="cursor-default">Tech</h2>
            <p>{tech.sort().join(", ")}</p>
          </div>
        </div>

        {
          link ? (
            <div class="flex items-center gap-4 rounded-xl bg-sweater-9 px-3 py-2 560:px-4">
              <ExternalLink class="hidden shrink-0 stroke-sweater-3 560:block" />
              <div>
                <h2 class="cursor-default">{link.text}</h2>
                <Link href={link.href} target="_blank">
                  {link.href.substring(8) /* Remove the https:// in front */}
                </Link>
              </div>
            </div>
          ) : null
        }

        {
          sourceHref ? (
            <div class="flex items-center gap-4 rounded-xl bg-sweater-9 px-3 py-2 560:px-4">
              <FileCode class="hidden shrink-0 stroke-sweater-3 560:block" />
              <div>
                <h2 class="cursor-default">Source</h2>
                <Link href={sourceHref} target="_blank">
                  GitHub repo
                </Link>
              </div>
            </div>
          ) : null
        }

        <div class="flex items-center gap-4 rounded-xl bg-sweater-9 px-3 py-2 560:px-4">
          <CalendarFold class="hidden shrink-0 stroke-sweater-3 560:block" />
          <div>
            <h2 class="cursor-default">Date</h2>
            <p>{date}</p>
          </div>
        </div>
      </section>

      <section class="mdx-span-normal space-y-6">
        <Content
          components={{
            h2: H2,
            h3: H3,
            blockquote: Aside,
            a: Anchor,
            img: Image,
          }}
        />
      </section>

      <!-- <TableOfContents headings={headings} /> -->
    </article>
  </main>
</CommonLayout>
