---
import { getCollection, getEntry, render } from "astro:content";
import type { GetStaticPaths } from "astro";

import {
  CalendarFoldIcon,
  ExternalLinkIcon,
  FileCodeIcon,
  WrenchIcon,
} from "@lucide/astro";

import BaseLayout from "@/layouts/base-layout.astro";
import MdxContent from "@/components/mdx-content.astro";
import Header from "@/components/header.astro";
import ProjectCover from "@/components/project-cover.astro";
import TechList from "@/components/tech-list.astro";
import ContentDate from "@/components/content-date.astro";
import { DISABLED_PROJECTS } from "@/scripts/constants";
import { isValidProjectCover } from "@/scripts/util";
import { ICON_SIZE } from "@/scripts/constants";
import Link from "@/components/link.astro";

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");
  return projects
    .filter((project) => !DISABLED_PROJECTS.includes(project.id))
    .map((project) => {
      return { params: { id: project.id } };
    });
}) satisfies GetStaticPaths;

const { id } = Astro.params;
const project = await getEntry("projects", id);

if (!project) {
  throw new Error(`No project with id "${id}" found in collection."`);
}

const {
  data: {
    name,
    subtitle,
    blurb,
    metadata: { tech, date, link, sourceHref },
    cover,
  },
} = project;

if (!isValidProjectCover(cover.img.width, cover.img.height)) {
  throw new Error("Cover images must have an aspect ratio of 16:10!");
}

const numMetadata = 2 + (link ? 1 : 0) + (sourceHref ? 1 : 0);
const { Content, headings } = await render(project);
---

<BaseLayout meta={{ kind: "project", project }}>
  <Header links={[{ href: "/projects", text: "Portfolio" }]} />

  <main>
    <section
      class="mx-auto mb-pad-4 w-full px-pad-2 pt-pad-4 desktop:w-4/5 desktop:px-pad desktop:pt-pad-3 lg:w-(--real-header-w)"
    >
      <h1 class="text-5xl font-bold text-heading">
        {name}
      </h1>
      {
        subtitle && (
          <p class="-mb-2 text-2xl text-sweater-3 not-dark:text-sweater-7 desktop:mb-0 desktop:text-4xl">
            {subtitle}
          </p>
        )
      }
      <p class="mt-1.5 max-w-(--content-w)">{blurb}</p>
    </section>

    <section
      aria-label="Overview"
      class="mb-pad-2 space-y-pad-2 desktop:mb-pad-4 desktop:space-y-pad-4"
    >
      <div class="mx-auto max-w-(--real-wide-w) md:px-pad-2">
        <ProjectCover
          id={id}
          cover={cover}
          useVideo={{ small: false }}
          class="overflow-hidden md:rounded-xl"
        />
      </div>

      <div
        class="mx-auto w-full px-pad-2 desktop:w-4/5 desktop:px-pad lg:w-(--real-header-w)"
      >
        <dl
          aria-label="Metadata"
          class="grid grid-cols-1 gap-y-pad border-style *:flex *:gap-x-pad *:border-style **:leading-tight desktop:-mx-pad-2 desktop:gap-y-0 desktop:border-t-(length:--border-w) desktop:border-l-(length:--border-w) desktop:*:border-r-(length:--border-w) desktop:*:border-b-(length:--border-w) desktop:*:p-pad-2 md:grid-cols-(--initial-grid-cols)"
          style={`--initial-grid-cols: repeat(${numMetadata % 2 === 0 ? 2 : numMetadata}, minmax(0, 1fr));`}
        >
          <div>
            <div class="grow space-y-0.5">
              <dt class="text-lg font-bold text-heading">Made with</dt>
              <dd><TechList tech={tech} class="" /></dd>
            </div>
            <WrenchIcon
              aria-hidden="true"
              size={ICON_SIZE}
              class="shrink-0 stroke-icon"
            />
          </div>

          <div>
            <div class="grow space-y-0.5">
              <dt class="text-lg font-bold text-heading">Duration</dt>
              <dd><ContentDate date={date} class="" /></dd>
            </div>
            <CalendarFoldIcon
              aria-hidden="true"
              size={ICON_SIZE}
              class="shrink-0 stroke-icon"
            />
          </div>

          {
            link && (
              <div>
                <div class="grow space-y-0.5">
                  <dt class="text-lg font-bold wrap-anywhere text-heading">
                    {link.text}
                  </dt>
                  <dd>
                    <Link target="_blank" href={link.href} class="break-all">
                      {
                        /* Get rid of https:// and only show domains */
                        link.href.slice(8).split("/")[0]
                      }
                    </Link>
                  </dd>
                </div>
                <ExternalLinkIcon
                  aria-hidden="true"
                  size={ICON_SIZE}
                  class="shrink-0 stroke-icon"
                />
              </div>
            )
          }

          {
            sourceHref && (
              <div>
                <div class="grow space-y-0.5">
                  <dt class="text-lg font-bold text-heading">Source</dt>
                  <dd>
                    <Link target="_blank" href={sourceHref} class="">
                      View on GitHub
                    </Link>
                  </dd>
                </div>
                <FileCodeIcon
                  aria-hidden="true"
                  size={ICON_SIZE}
                  class="shrink-0 stroke-icon"
                />
              </div>
            )
          }
        </dl>
      </div>
    </section>

    <MdxContent content={Content} headings={headings} />
  </main>
</BaseLayout>
