---
import { getCollection, getEntry, render } from "astro:content";
import type { GetStaticPaths } from "astro";
import type { z } from "astro/zod";

import {
  CalendarFoldIcon,
  ExternalLinkIcon,
  FileCodeIcon,
  WrenchIcon,
  type Icon as IconType,
} from "@lucide/astro";

import BaseLayout from "@/layouts/base-layout.astro";
import MdxContent from "@/components/mdx-content.astro";
import Header from "@/components/header.astro";
import ProjectCover from "@/components/project-cover.astro";
import type {
  LinkSchema,
  SourceHrefSchema,
  TechSchema,
} from "@/scripts/schema";
import type { ContentDate as ContentDateType } from "@/scripts/types";
import TechList from "@/components/tech-list.astro";
import ContentDate from "@/components/content-date.astro";
import { DISABLED_PROJECTS } from "@/scripts/constants";
import { validProjectCover } from "@/scripts/util";
import { ICON_SIZE } from "@/scripts/constants";

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");
  return projects
    .filter((project) => !DISABLED_PROJECTS.includes(project.id))
    .map((project) => {
      return { params: { id: project.id } };
    });
}) satisfies GetStaticPaths;

const { id } = Astro.params;
const project = await getEntry("projects", id);

if (!project) {
  throw new Error(`No project with id "${id}" found in collection."`);
}

const {
  data: {
    name,
    subtitle,
    blurb,
    metadata: { tech, link, sourceHref, date },
    cover,
  },
} = project;

if (!validProjectCover(cover.img.width, cover.img.height)) {
  throw new Error("Cover images must have an aspect ratio of 16:10!");
}

type MetadataKind =
  | {
      kind: "tech";
      data: z.infer<typeof TechSchema>;
      icon: typeof IconType;
    }
  | { kind: "link"; data: z.infer<typeof LinkSchema>; icon: typeof IconType }
  | {
      kind: "sourceHref";
      data: z.infer<typeof SourceHrefSchema>;
      icon: typeof IconType;
    }
  | { kind: "date"; data: ContentDateType; icon: typeof IconType };

// Make my life easier by iterating through the metadata
let metadata: MetadataKind[] = [
  { kind: "tech", data: tech, icon: WrenchIcon },
  { kind: "date", data: date, icon: CalendarFoldIcon },
];

if (link) {
  metadata.push({ kind: "link", data: link, icon: ExternalLinkIcon });
}

if (sourceHref) {
  metadata.push({ kind: "sourceHref", data: sourceHref, icon: FileCodeIcon });
}

const { Content, headings } = await render(project);
---

<BaseLayout meta={{ kind: "project", project }}>
  <Header
    links={[{ href: "/projects", text: "Portfolio" }]}
    description={blurb}
    maxColumns={1}
  >
    <Fragment slot="title">{name}</Fragment>
  </Header>

  <main>
    <section
      aria-label="Project overview"
      class="mx-auto max-w-[calc(1100px+var(--spacing-pad-4))] space-y-pad-2 p-pad-2"
    >
      <ProjectCover
        id={id}
        cover={cover}
        useVideo={{ small: false }}
        class="overflow-hidden rounded-lg"
      />

      <div class="mx-auto max-w-(--header-w) space-y-pad-2">
        <h2 class="text-2xl leading-none font-bold text-sweater-2">Overview</h2>

        <p class="max-w-[525px]">{blurb}</p>

        <dl class="-mx-pad-2 grid grid-cols-4 bordered p-pad-2">
          <div>
            <dt class="text-lg font-bold text-sweater-2">Uses</dt><dd></dd>
          </div>
          <div>
            <dt class="text-lg font-bold text-sweater-2">Duration</dt><dd></dd>
          </div>
          <div>
            <dt class="text-lg font-bold text-sweater-2">View online</dt><dd>
            </dd>
          </div>
          <div>
            <dt class="text-lg font-bold text-sweater-2">Source code</dt><dd>
            </dd>
          </div>
        </dl>
      </div>
    </section>

    <MdxContent content={Content} headings={headings} />
  </main>
</BaseLayout>
