---
import { getCollection, getEntry, render } from "astro:content";
import type { GetStaticPaths } from "astro";
import type { z } from "astro/zod";

import {
  CalendarFoldIcon,
  ExternalLinkIcon,
  FileCodeIcon,
  WrenchIcon,
  type Icon as IconType,
} from "@lucide/astro";

import BaseLayout from "@/layouts/base-layout.astro";
import MdxContent from "@/components/mdx-content.astro";
import Header from "@/components/header.astro";
import ProjectCover from "@/components/project-cover.astro";
import type {
  LinkSchema,
  SourceHrefSchema,
  TechSchema,
} from "@/scripts/schema";
import type { ContentDate as ContentDateType } from "@/scripts/types";
import TechList from "@/components/tech-list.astro";
import ContentDate from "@/components/content-date.astro";
import { DISABLED_PROJECTS } from "@/scripts/constants";
import { isValidProjectCover } from "@/scripts/util";
import { ICON_SIZE } from "@/scripts/constants";
import Link from "@/components/link.astro";

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");
  return projects
    .filter((project) => !DISABLED_PROJECTS.includes(project.id))
    .map((project) => {
      return { params: { id: project.id } };
    });
}) satisfies GetStaticPaths;

const { id } = Astro.params;
const project = await getEntry("projects", id);

if (!project) {
  throw new Error(`No project with id "${id}" found in collection."`);
}

const {
  data: {
    name,
    subtitle,
    blurb,
    metadata: { tech, date, link, sourceHref },
    cover,
  },
} = project;

if (!isValidProjectCover(cover.img.width, cover.img.height)) {
  throw new Error("Cover images must have an aspect ratio of 16:10!");
}

const { Content, headings } = await render(project);
---

<BaseLayout meta={{ kind: "project", project }}>
  <Header links={[{ href: "/projects", text: "Portfolio" }]} />

  <main class="space-y-pad-4">
    <section
      class="mx-auto w-full px-pad-2 pt-pad-4 desktop:w-4/5 desktop:px-pad desktop:pt-pad-3 lg:w-(--real-header-w)"
    >
      <h1 class="text-5xl font-bold text-sweater-2 not-dark:text-sweater-8">
        {name}
      </h1>
      {
        subtitle && (
          <p class="-mb-2 text-2xl text-sweater-3 not-dark:text-sweater-7 desktop:mb-0 desktop:text-4xl">
            {subtitle}
          </p>
        )
      }
      <p class="mt-pad max-w-(--content-w)">{blurb}</p>
    </section>

    <section aria-label="Project overview" class="space-y-pad-2">
      <div
        class="mx-auto w-full space-y-pad px-pad-2 desktop:w-4/5 desktop:px-pad lg:w-(--real-header-w)"
      >
        <h2 class="text-xl font-bold text-sweater-2">Overview</h2>

        <dl
          class="-mx-pad-2 grid grid-cols-4 gap-x-pad-2 bordered px-pad-2 py-pad-2 *:space-y-1 **:leading-none"
        >
          <div>
            <dt class="font-bold text-sweater-2">Uses</dt>
            <dd><TechList tech={tech} /></dd>
          </div>

          <div>
            <dt class="font-bold text-sweater-2">Duration</dt>
            <dd><ContentDate date={date} /></dd>
          </div>

          {
            link && (
              <div>
                <dt class="font-bold text-sweater-2">{link.text}</dt>
                <dd>
                  <Link href={link.href}>{link.href}</Link>
                </dd>
              </div>
            )
          }

          {
            sourceHref && (
              <div>
                <dt class="font-bold text-sweater-2">Source code</dt>
                <dd>
                  <Link href={sourceHref}>Visit GitHub</Link>
                </dd>
              </div>
            )
          }
        </dl>
      </div>

      <div class="mx-auto max-w-(--real-wide-w) md:px-pad-2">
        <ProjectCover
          id={id}
          cover={cover}
          useVideo={{ small: false }}
          class="overflow-hidden md:rounded-xl"
        />
      </div>
    </section>

    <MdxContent content={Content} headings={headings} />
  </main>
</BaseLayout>
