---
import Img from "@/components/img.astro";
import Link from "@/components/link.astro";
import MainLayout from "@/layouts/main-layout.astro";
import PrimitiveLayout from "@/layouts/primitive-layout.astro";
import { getCollection } from "astro:content";

const moreThings = [
  {
    name: "Mini Maya",
    url: null,
    desc: "Mesh editor that supports subdivision, face triangulation, skeleton skinning, and more.",
  },
  {
    name: "3D Rasterizer",
    url: null,
    desc: "CPU-based OBJ renderer written in C++. Supports antialiasing and shading models.",
  },
  {
    name: "scallop.build",
    url: "https://scallop.build",
    desc: "Full stack Next.js web platform for Scallop, a neurosymbolic programming language.",
  },
  {
    name: "ttt",
    url: "https://ttt.charl.sh",
    desc: "Tic-tac-toe. Small little game that finally made React click for me.",
  },
];

const projectEntries = await getCollection("projects");
projectEntries.sort((a, b) => a.data.order - b.data.order);
---

<PrimitiveLayout
  title="Projects • Charles Wang"
  description="Websites, games, graphics programming, design case studies, and other stuff I've made."
>
  <MainLayout className="space-y-10">
    <section class="animate-fade space-y-[1rem] [--delay:75ms]">
      <h2 class="text-xl text-sweater-2">Projects</h2>
      <p>
        Enter a project to learn more information and get a detailed walkthrough. I focus on both my
        programming and UI/UX process.
      </p>
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
        {
          projectEntries.map(({ data, slug }, index) => {
            return (
              <a
                href={"/projects/" + slug}
                class="group col-span-1 animate-fade space-y-2.5 rounded-xl bg-sweater-9 p-3 transition-colors hover:bg-sweater-8"
                style={{ "--delay": `${(index + 1) * 75}ms` }}
              >
                <Img
                  src={data.cover.img}
                  alt={data.cover.alt}
                  className="max-h-60 object-cover object-top"
                />
                <h3 class="text-sweater-2">{data.title}</h3>
                <ul class="flex flex-wrap gap-2">
                  {data.tags.map((tag) => (
                    <li class="h-min rounded-full bg-sweater-8 px-2 py-0.5 text-sm text-sweater-3 transition-colors group-hover:bg-sweater-7 group-hover:text-sweater-2">
                      {tag}
                    </li>
                  ))}
                </ul>
                <p>{data.blurb}</p>
              </a>
            );
          })
        }
      </div>
    </section>

    <section class="animate-fade space-y-[1rem] [--delay:75ms]">
      <h2 class="text-xl text-sweater-2">More things to check out</h2>
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        {
          moreThings.map(({ url, name, desc }, index) => (
            <div
              class="col-span-1 animate-fade"
              style={{ "--delay": `${(index + 1) * 75}ms` }}
            >
              <h3 class="text-sweater-2">
                {url ? (
                  <Link
                    href={url}
                    newTab
                  >
                    {name}
                  </Link>
                ) : (
                  <>{name}</>
                )}
              </h3>
              <p>{desc}</p>
            </div>
          ))
        }
      </div>
    </section>
  </MainLayout>
</PrimitiveLayout>
