---
import { getCollection } from "astro:content";

import {
  ImageIcon,
  JoystickIcon,
  ShapesIcon,
  type Icon as IconType,
} from "@lucide/astro";

import ProjectCover from "@/components/project-cover.astro";
import CommonLayout from "@/layouts/common-layout.astro";
import { PROJECT_CATEGORIES } from "@/scripts/constants";

let projects = await getCollection("projects");
projects.sort((a, b) => a.data.order - b.data.order);

const icons: (typeof IconType)[] = [ImageIcon, JoystickIcon, ShapesIcon];

const enabledVideos = ["path-tracer", "pbr-renderer", "fireball", "door"];
---

<CommonLayout
  meta={{
    kind: "route",
    title: "Projects",
    description: "Projects mostly related to graphics and games.",
    ogImageParams: "Graphics projects and games.",
  }}
>
  <main class="space-y-6 sm:space-y-12">
    {
      PROJECT_CATEGORIES.map((category, index) => {
        const Icon = icons[index]!;

        return (
          <section class="grid-line-before grid-line-after relative">
            <a href={`#${category}`} class="group">
              <h2
                id={category}
                class="flex items-center justify-between border-b-(length:--border-w) border-dashed border-line-dark p-[calc(var(--spacing-pad)+2px)] font-bold text-sweater-5/80 transition-colors group-hover:bg-line-dark group-hover:text-sweater-4"
              >
                {category.charAt(0).toUpperCase() + category.slice(1)}
                <Icon size={18} class="stroke-sweater-6" />
              </h2>
            </a>

            <div class="grid grid-cols-1 560:grid-cols-2">
              {projects
                .filter((project) => project.data.type === category)
                .map(({ id, data: { cover } }, index) => (
                  <div
                    class:list={[
                      "border-dashed border-line-dark p-[calc(var(--spacing-pad)+2px)] transition-colors hover:bg-sweater-9/40",
                      index % 2 === 0 ? "border-r-(length:--border-w)" : null,
                      index < projects.length - 2 ?
                        "border-b-(length:--border-w)"
                      : null,
                    ]}
                  >
                    <a href={`/projects/${id}`}>
                      <ProjectCover
                        id={id}
                        cover={cover}
                        useVideo={
                          enabledVideos.includes(id) ? { small: true } : null
                        }
                      />
                    </a>
                  </div>
                ))}
            </div>
          </section>
        );
      })
    }
  </main>
</CommonLayout>
