---
import lowkeyJson from "@/assets/projects/lowkey.json";
import prominentJson from "@/assets/projects/prominent.json";
import { Link } from "@/components/react/link";
import HtmlLayout from "@/layouts/html-layout.astro";
import MainLayout from "@/layouts/main-layout.astro";
import { Image } from "astro:assets";
---

<HtmlLayout
  title="Projects • Charles Wang"
  description="Here you'll find coding projects I've done, from my classes and random interests."
>
  <MainLayout className="space-y-12 lg:space-y-24">
    <section
      class="grid grid-flow-row grid-cols-1 gap-8 sm:grid-cols-2 xl:gap-16"
    >
      {
        prominentJson.map((proj, idx) => (
          <div
            class="col-span-1 animate-fade space-y-2.5"
            style={{ "--delay": `${(idx + 1) * 100}ms` }}
          >
            <Image
              class="max-h-52 rounded-lg bg-sweater-9 object-cover object-top xs:max-h-64 sm:max-h-72 lg:max-h-[345px]"
              src={import(`../../assets/projects/${proj.imgName}.png`)}
              loading="eager"
              alt={proj.imgAlt}
            />
            {proj.href ? (
              <h3 class="pb-0.5 font-bold">
                <Link
                  href={proj.href}
                  newTab
                >
                  {proj.name}
                </Link>
              </h3>
            ) : (
              <h3 class="font-bold text-sweater-2">{proj.name}</h3>
            )}
            <div class="flex flex-wrap gap-2.5">
              {proj.tags.map((tag) => (
                <span class="h-min rounded-full bg-sweater-7 px-2.5 py-1 text-sm text-sweater-3">
                  {tag}
                </span>
              ))}
            </div>
            <p>{proj.desc}</p>
          </div>
        ))
      }
    </section>

    <section class="mx-auto w-full max-w-prose animate-fade [--delay:100ms]">
      <h3 class="mb-6 font-bold text-sweater-2">Other things I've made</h3>
      <div class="grid grid-flow-row grid-cols-1 gap-6 sm:grid-cols-2">
        {
          lowkeyJson.map((proj, idx) => (
            <div
              class="col-span-1 animate-fade"
              style={{ "--delay": `${(idx + 1) * 100}ms` }}
            >
              {proj.href ? (
                <h4>
                  <Link
                    href={proj.href}
                    newTab
                  >
                    {proj.name}
                  </Link>
                </h4>
              ) : (
                <h4 class="text-sm font-bold text-sweater-2">{proj.name}</h4>
              )}
              <p>{proj.desc}</p>
            </div>
          ))
        }
      </div>
    </section>
  </MainLayout>
</HtmlLayout>
