---
import { getCollection } from "astro:content";

import { SquareArrowRightIcon, ToolCaseIcon } from "@lucide/astro";

import ProjectCover from "@/components/project-cover.astro";
import { DISABLED_PROJECTS, ICON_SIZE } from "@/scripts/constants";
import TechList from "@/components/tech-list.astro";
import ContentDate from "@/components/content-date.astro";
import BaseLayout from "@/layouts/base-layout.astro";
import Eye from "@/components/eye.astro";

const PROJECTS_WITH_VIDEOS = [
  // "racecar",
  "cuda-path-tracer",
  "mini-minecraft",
  "door",
];

const projects = (await getCollection("projects"))
  .filter((project) => !DISABLED_PROJECTS.includes(project.id))
  .sort((a, b) => a.data.order - b.data.order);
---

<BaseLayout
  meta={{
    kind: "route",
    title: "Portfolio",
    description:
      "Write-ups and technical breakdowns for some of my favorite projects that I've done.",
    ogImageParams: "Graphics programming, games, and sometimes art.",
  }}
>
  <header
    class="mx-auto grid w-full grid-cols-1 gap-x-pad-2 gap-y-pad p-pad-2 desktop:mt-10 desktop:w-4/5 desktop:px-3.5 desktop:py-pad sm:grid-cols-2 lg:w-(--header-max-w) lg:gap-x-pad-4"
  >
    <div class="font-bold">
      <nav class="flex items-start gap-x-1.5">
        <a href="/" title="Home" class="block">
          <Eye
            aria-hidden="true"
            class="size-6.5 fill-link-primary transition-[fill_rotate] hover:-rotate-13 hover:fill-link-primary-hover"
          />
        </a>
        <span
          aria-hidden="true"
          class="text-[2rem] leading-[0.8] text-sweater-6/70 select-none not-dark:text-sweater-4/70"
          >/</span
        >
      </nav>

      <h1
        class="flex cursor-default items-center gap-x-2 text-3xl text-sweater-2 not-dark:text-sweater-8 sm:text-4xl md:text-5xl"
      >
        Portfolio <ToolCaseIcon
          aria-hidden="true"
          class="stroke-icon md:size-9"
        />
      </h1>
    </div>

    <p class="self-end-safe text-subtitle">
      Write-ups and technical breakdowns for some of my favorite projects that
      I've done.
    </p>
  </header>

  <main
    class="mx-auto grid max-w-[calc(1300px+var(--spacing-pad-4))] grid-cols-1 gap-y-pad-4 p-pad-2 sm:mt-pad-2 sm:grid-cols-2 sm:gap-y-0"
  >
    {
      projects.map(({ id, data: { name, blurb, metadata, cover } }) => (
        <article
          aria-labelledby={id}
          class="group relative rounded-3xl transition-colors duration-200 desktop:p-pad desktop:hover:bg-sweater-9 not-dark:desktop:hover:bg-sweater-2 lg:p-pad-2"
        >
          <ProjectCover
            id={id}
            cover={cover}
            useVideo={
              PROJECTS_WITH_VIDEOS.includes(id) ? { small: true } : null
            }
            class="mb-pad overflow-hidden rounded-2xl"
          />

          <h2
            id={id}
            class="mb-2 flex items-center justify-between text-xl leading-[1.1] font-bold text-link-primary transition-colors group-hover:text-link-primary-hover sm:text-2xl lg:mb-1"
          >
            <a
              href={`/projects/${id}`}
              class="after:absolute after:inset-0 after:z-1 after:rounded-3xl"
            >
              {name}
            </a>

            <SquareArrowRightIcon
              aria-hidden="true"
              size={ICON_SIZE}
              class="shrink-0 stroke-icon sm:hidden"
            />
          </h2>

          <div class="mb-1.5 grid grid-cols-1 gap-x-pad gap-y-1.5 *:text-link-secondary *:transition-colors *:group-hover:text-link-secondary-hover sm:mb-pad sm:text-lg lg:grid-cols-2">
            <ContentDate date={metadata.date} class="leading-none" />
            <TechList tech={metadata.tech} class="*:leading-none" />
          </div>

          <p class="hidden text-subtitle transition-colors group-hover:text-inherit desktop:[display:inherit]">
            {blurb}
          </p>
        </article>
      ))
    }
  </main>
</BaseLayout>
