---
import { getCollection } from "astro:content";

import {
  BoxesIcon,
  InfoIcon,
  SquareArrowRightIcon,
  SquareMousePointerIcon,
  SquareDashedMousePointerIcon,
  FeatherIcon,
  ToolCaseIcon,
} from "@lucide/astro";

import ProjectCover from "@/components/project-cover.astro";
import {
  DISABLED_PROJECTS,
  WIDE_PROJECTS,
  ICON_SIZE,
} from "@/scripts/constants";
import MainLayout from "@/layouts/main-layout.astro";
import TechList from "@/components/tech-list.astro";
import ContentDate from "@/components/content-date.astro";
import GridSection from "@/components/grid-section.astro";
import BaseLayout from "@/layouts/base-layout.astro";
import MusicIndicator from "@/components/music-indicator.astro";
import Eye from "@/components/eye.astro";

const withVideos: string[] = [
  "cuda-path-tracer",
  "pbr-renderer",
  "cuda-boids",
  "catanks",
];

const projects = (await getCollection("projects"))
  .filter((project) => !DISABLED_PROJECTS.includes(project.id))
  .sort((a, b) => a.data.order - b.data.order);

const totalCells = projects.reduce(
  (sum, { id }) => (WIDE_PROJECTS.includes(id) ? sum + 2 : sum + 1),
  0,
);
---

<BaseLayout
  meta={{
    kind: "route",
    title: "Projects",
    description:
      "Projects mostly revolving around computer graphics, game development, and some art on the side.",
    ogImageParams: "Graphics programming, games, and sometimes art.",
  }}
>
  <div class="grid grid-cols-(--gtc-standard) p-pad leading-none">
    <header>Header</header>
    <main>Main</main>
  </div>

  <!-- <main class="mr-auto ml-[calc(var(--spacing)*20+350px)] max-w-[700px]">
    <div class="grid grid-cols-1 bordered 560:grid-cols-2">
      {
        projects.map(
          (
            {
              id,
              data: {
                name,
                blurb,
                metadata: { tech, date },
                cover,
              },
            },
            index,
          ) => {
            const numElapsedCells = projects.reduce(
              (sum, { id }, projectInCategoryIndex) => {
                if (projectInCategoryIndex > index) {
                  return sum;
                }

                if (WIDE_PROJECTS.includes(id)) {
                  return sum + 2;
                } else {
                  return sum + 1;
                }
              },
              0,
            );

            return WIDE_PROJECTS.includes(id) ?
                <div
                  class:list={[
                    "480:hover:bg-line-dark col-span-1 border-style p-pad transition-colors hover:bg-sweater-9/50 not-dark:hover:bg-sweater-2/50 480:p-0 560:col-span-2",
                    index < projects.length - 1 ?
                      "border-b-(length:--border-w)"
                    : null,
                  ]}
                >
                  <a
                    href={`/projects/${id}`}
                    class="group grid grid-cols-1 480:grid-cols-2"
                  >
                    <div class="border-style 480:border-r-(length:--border-w) 480:p-pad">
                      <ProjectCover
                        id={id}
                        cover={cover}
                        useVideo={
                          withVideos.includes(id) ? { small: true } : null
                        }
                        class="overflow-hidden rounded-t-lg 480:rounded-b-lg"
                      />
                    </div>

                    <div class="*: flex flex-col *:border-style normal:grid normal:grid-cols-1 normal:grid-rows-4">
                      <div class="bg-sweater-9 px-pad pt-pad transition-colors not-dark:bg-sweater-2 group-hover:bg-sweater-8 not-dark:group-hover:bg-sweater-3 480:space-y-1 480:border-b-(length:--border-w) 480:bg-transparent 480:pb-pad 480:group-hover:bg-transparent 560:border-b-0 normal:row-span-2 sm:border-b-(length:--border-w)">
                        <h3 class="leading-tight font-bold text-link-primary transition-colors group-hover:text-link-primary-hover 480:text-lg">
                          {name}
                        </h3>
                        <p class="hidden 560:block">{blurb}</p>
                      </div>

                      <div class="hidden border-b-(length:--border-w) p-pad normal:block">
                        <p class="font-bold text-sweater-3/85 transition-colors not-dark:text-sweater-7/85 group-hover:text-link-primary">
                          Tech used
                        </p>

                        <TechList tech={tech} class="text-subtitle" />
                      </div>

                      <div class="hidden p-pad normal:block">
                        <p class="font-bold text-sweater-3/85 transition-colors not-dark:text-sweater-7/85 group-hover:text-link-primary">
                          Date
                        </p>
                        <ContentDate date={date} class="text-subtitle" />
                      </div>

                      <div class="rounded-b-lg bg-sweater-9 px-pad pb-pad transition-colors not-dark:bg-sweater-2 group-hover:bg-sweater-8 not-dark:group-hover:bg-sweater-3 480:bg-transparent 480:pt-pad 480:group-hover:bg-transparent 560:hidden normal:hidden! sm:block">
                        <TechList
                          tech={tech}
                          class="text-link-secondary 480:text-subtitle"
                        />

                        <ContentDate
                          date={date}
                          class="hidden text-subtitle 480:block"
                        />
                      </div>
                    </div>
                  </a>
                </div>
              : <div
                  class:list={[
                    "480:hover:bg-line-dark border-style p-pad transition-colors hover:bg-sweater-9/50 not-dark:hover:bg-sweater-2/50 480:p-0 560:p-pad 560:hover:bg-sweater-9/50 560:not-dark:hover:bg-sweater-2/50",
                    totalCells - numElapsedCells !== 0 ?
                      "border-b-(length:--border-w)"
                    : null,
                    numElapsedCells % 2 === 1 ?
                      "560:border-r-(length:--border-w)"
                    : null,
                  ]}
                >
                  <a
                    href={`/projects/${id}`}
                    class="group grid grid-cols-1 480:grid-cols-2 560:grid-cols-1"
                  >
                    <div class="border-style 480:border-r-(length:--border-w) 480:p-pad 560:border-r-0 560:p-0">
                      <ProjectCover
                        id={id}
                        cover={cover}
                        useVideo={
                          withVideos.includes(id) ? { small: true } : null
                        }
                        class="overflow-hidden rounded-t-lg 480:rounded-b-lg 560:rounded-b-none"
                      />
                    </div>

                    <div class="rounded-b-lg bg-sweater-9 transition-colors not-dark:bg-sweater-2 group-hover:bg-sweater-8 not-dark:group-hover:bg-sweater-3 480:bg-transparent 480:group-hover:bg-transparent 560:bg-sweater-9 560:not-dark:bg-sweater-2 560:group-hover:bg-sweater-8 560:not-dark:group-hover:bg-sweater-3">
                      <h3 class="border-style px-pad pt-pad leading-tight font-bold text-link-primary transition-colors group-hover:text-link-primary-hover 480:border-b-(length:--border-w) 480:pb-pad 480:text-lg 560:border-b-0 560:pb-0 560:text-base">
                        {name}
                      </h3>

                      <TechList
                        tech={tech}
                        class="px-pad pb-pad text-link-secondary 480:pt-pad 480:pb-0 480:text-subtitle 560:pt-0 560:pb-pad 560:text-link-secondary"
                      />

                      <ContentDate
                        date={date}
                        class="hidden px-pad pb-pad text-subtitle 480:block 560:hidden"
                      />
                    </div>
                  </a>
                </div>;
          },
        )
      }
    </div>
  </main> -->
</BaseLayout>
