---
import { getCollection } from "astro:content";

import { SquareArrowRightIcon } from "@lucide/astro";

import ProjectCover from "@/components/project-cover.astro";
import { DISABLED_PROJECTS, ICON_SIZE } from "@/scripts/constants";
import TechList from "@/components/tech-list.astro";
import ContentDate from "@/components/content-date.astro";
import BaseLayout from "@/layouts/base-layout.astro";
import Header from "@/components/header.astro";

const WITH_VIDEOS = [
  // "racecar",
  "cuda-path-tracer",
  "mini-minecraft",
  "door",
];

const projects = (await getCollection("projects"))
  .filter((project) => !DISABLED_PROJECTS.includes(project.id))
  .sort((a, b) => a.data.order - b.data.order);

const description =
  "Write-ups and technical breakdowns of some of my favorite projects";
---

<BaseLayout
  meta={{
    kind: "route",
    title: "Portfolio",
    description: description + ".",
    ogImageParams: description,
  }}
>
  <Header links={[]} />

  <main class="space-y-pad-4">
    <hgroup
      class="mx-auto grid w-full grid-cols-1 gap-x-pad-2 px-pad-2 pt-pad-2 desktop:w-4/5 desktop:px-pad md:grid-cols-2 lg:w-(--real-header-w) lg:pt-pad-3 xl:gap-x-pad-4"
    >
      <h1 class="text-5xl font-bold text-heading">Portfolio</h1>
      <p class="max-w-(--content-w)">{description}</p>
    </hgroup>

    <div
      class="mx-auto grid max-w-(--real-wide-w) grid-cols-1 gap-pad-2 desktop:px-pad-2 sm:grid-cols-2 xl:gap-pad-4"
    >
      {
        projects.map(({ id, data: { name, blurb, metadata, cover } }) => (
          <section aria-labelledby={id} class="group relative">
            <ProjectCover
              id={id}
              cover={cover}
              useVideo={WITH_VIDEOS.includes(id) ? { small: true } : null}
              class="mb-pad overflow-hidden desktop:rounded-xl"
            />

            <h2
              id={id}
              class="mb-1.5 flex items-center justify-between px-pad-2 text-lg leading-[1.1] font-bold text-link-primary transition-colors group-hover:text-link-primary-hover desktop:px-0 sm:text-xl"
            >
              <a
                href={`/projects/${id}`}
                class="after:absolute after:inset-0 after:z-1 after:rounded-3xl"
              >
                {name}
              </a>

              <SquareArrowRightIcon
                aria-hidden="true"
                size={ICON_SIZE}
                class="shrink-0 stroke-icon sm:hidden"
              />
            </h2>

            <div class="mb-1 grid grid-cols-1 gap-x-pad-2 gap-y-1.5 px-pad-2 *:text-link-secondary *:transition-colors *:group-hover:text-link-secondary-hover desktop:px-0 lg:grid-cols-2 lg:text-lg xl:gap-x-0">
              <ContentDate
                date={metadata.date}
                class="hidden leading-none md:inline-block"
              />
              <TechList tech={metadata.tech} class="*:leading-none" />
            </div>

            <p class="hidden max-w-(--content-w) text-sweater-2 transition-colors not-dark:text-sweater-8 group-hover:text-sweater-1 not-dark:group-hover:text-sweater-10 desktop:block">
              {blurb}
            </p>
          </section>
        ))
      }
    </div>
  </main>
</BaseLayout>
