---
import projectsJson from "@/assets/projects/projects.json";
import { Link } from "@/components/react/link";
import HtmlLayout from "@/layouts/html-layout.astro";
import MainLayout from "@/layouts/main-layout.astro";
import { Image } from "astro:assets";

const prominent = projectsJson.filter((project) => project.prominent);
---

<HtmlLayout
  title="Projects • Charles Wang"
  description="Here you'll find coding projects I've done, from my classes and random interests."
>
  <MainLayout
    className="grid grid-flow-row grid-cols-1 gap-8 sm:grid-cols-2 xl:gap-16"
  >
    {
      prominent.map((project, index) => (
        <div
          class="col-span-1 animate-fade space-y-2.5 rounded-lg"
          style={{ "--delay": `${(index + 1) * 100}ms` }}
        >
          <Image
            class="max-h-52 rounded-lg bg-sweater-9 object-cover object-top xs:max-h-64 sm:max-h-72 lg:max-h-[345px]"
            src={import(`../../assets/projects/${project.imgName}.png`)}
            loading="eager"
            alt={project.alt}
          />
          {project.href ? (
            <h3 class="pb-0.5 font-bold">
              <Link
                href={project.href}
                newTab
              >
                {project.name}
              </Link>
            </h3>
          ) : (
            <h3 class="font-bold text-sweater-2">{project.name}</h3>
          )}
          <div class="flex flex-wrap gap-2.5">
            {project.tags.map((tag) => (
              <span class="h-min rounded-full bg-sweater-7 px-2.5 py-1 text-sm text-sweater-3">
                {tag}
              </span>
            ))}
          </div>
          <p>{project.desc}</p>
        </div>
      ))
    }
  </MainLayout>
</HtmlLayout>
