---
import SpeedInsights from "@vercel/speed-insights/astro";

import "@/styles/main.css";

import type { Meta, MetaKind } from "@/scripts/types";
import {
  capitalize,
  getShortDateFormatting,
  SITE_URL,
  stripEndingSlash,
} from "@/scripts/util";
import ScreenSizeIndicator from "@/components/screen-size-indicator.astro";

interface Props {
  meta: Meta;
}

type Head = {
  title: string;
  description: string;
  og: `?${MetaKind}=${string}`;
};

const head: Head = (() => {
  const { meta } = Astro.props;

  switch (meta.kind) {
    case "route": {
      const title = (() => {
        switch (meta.route) {
          case "home":
            return "";
          case "projects":
            return "Portfolio";
          case "posts":
            return "Writing";
          default:
            return capitalize(meta.route);
        }
      })();

      return {
        title,
        description: meta.description,
        og: `?route=${meta.route}`,
      };
    }

    case "projects": {
      const { data, id } = meta.projectsEntry;
      return {
        title: data.name,
        description: data.blurb,
        og: `?projects=${id}`,
      };
    }

    case "posts": {
      const { data, id } = meta.postsEntry;
      const description =
        data.blurb !== undefined ?
          data.blurb
        : `Posted on ${getShortDateFormatting(data.posted)}`;

      return {
        title: data.title,
        description,
        og: `?posts=${id}`,
      };
    }

    case "gallery":
      return {
        title: "Gallery TODO",
        description: "Gallery TODO",
        og: `?gallery=TODO`,
      };

    default:
      throw new Error("Unhandled meta kind!");
  }
})();

const url = new URL(Astro.url.pathname, Astro.site).toString();
const canonicalUrl = stripEndingSlash(url);

const { title: titlePrefix, description, og } = head;
const ogUrl = `${SITE_URL}/api/og.png${og}`;

const title =
  titlePrefix.length === 0 ? "Charles Wang" : `${titlePrefix} / Charles Wang`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta
      name="viewport"
      content="width=device-width, interactive-widget=resizes-content"
    />
    <meta name="generator" content={Astro.generator} />

    <meta name="color-scheme" content="dark light" />

    <meta property="og:site_name" content="Charles Wang" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content={ogUrl} />

    <meta property="twitter:image" content={ogUrl} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <link rel="canonical" href={canonicalUrl} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link
      rel="icon"
      sizes="any"
      type="image/svg+xml"
      href="/favicon_dark_bg.svg"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      sizes="any"
      type="image/svg+xml"
      href="/favicon_light_bg.svg"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      sizes="64x64"
      type="image/png"
      href="/favicon_dark_bg.png"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      sizes="64x64"
      type="image/png"
      href="/favicon_light_bg.png"
      media="(prefers-color-scheme: dark)"
    />

    <link
      rel="preload"
      href="/_files/fonts/AtkHypNext-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/_files/fonts/AtkHypNext-SemiBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/_files/fonts/MapleMono-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <title>{title}</title>

    <script
      is:inline
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="9ccfaf2d-6989-4335-ab83-606d54cdee0f"></script>

    <SpeedInsights />
  </head>

  <body>
    <slot />
    <ScreenSizeIndicator />
  </body>
</html>
