---
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import type { MetaKind } from "@/scripts/types";

import "@/styles/main.css";

interface Props {
  meta: MetaKind;
}

const { meta } = Astro.props;

let title = "Charles Wang";
let description: string;
let ogImageParams: string;

switch (meta.kind) {
  case "route": {
    title = (meta.title ? `${meta.title} — ` : "") + title;
    description = meta.description;
    ogImageParams = `?heading=${encodeURIComponent(meta.ogImageParams)}`;
    break;
  }

  case "post": {
    const { data, id } = meta.post;
    title = `${data.title} — ${title}`;

    // If the post doesn't have a blurb then just state when it was published
    description =
      data.blurb ?
        data.blurb
      : `Posted on ${data.posted.toLocaleDateString("en-US", {
          month: "long",
          day: "numeric",
          year: "numeric",
          timeZone: "America/New_York",
        })}.`;
    ogImageParams = `?post=${id}`;
    break;
  }

  case "project": {
    const { data, id } = meta.project;
    title = `${data.name} — ${title}`;
    description = data.blurb;
    ogImageParams = `?project=${id}`;
    break;
  }

  default:
    throw new Error("Unreachable!");
}

// See https://github.com/withastro/astro/issues/5248
let canonicalUrl = new URL(Astro.url.pathname, Astro.site).toString();
canonicalUrl = canonicalUrl.replace(/\/+$/, "");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="color-scheme" content="dark light" />

    <meta property="og:site_name" content="Charles Wang" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content={`https://charleszw.com/api/og.png${ogImageParams}`} />

    <meta property="twitter:image" content={`https://charleszw.com/api/og.png${ogImageParams}`} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <link rel="canonical" href={canonicalUrl} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="icon" sizes="any" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon.png" />
    <link rel="icon" href="/favicon.ico" />

    <link
      rel="preload"
      href="/_files/fonts/AtkHypNext-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/_files/fonts/AtkHypNext-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/_files/fonts/MapleMono-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <title>{title}</title>

    <script
      is:inline
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="9ccfaf2d-6989-4335-ab83-606d54cdee0f"></script>

    <Analytics />
    <SpeedInsights />
  </head>

  <body>
    <slot />

    {
      import.meta.env.DEV ?
        <div class="fixed bottom-5 left-5 w-fit cursor-default rounded-xl bg-sweater-8 px-4 py-2 maple">
          <span class="hidden 2xl:inline">2XL ({">="}1536px)</span>
          <span class="hidden xl:inline 2xl:hidden">XL ({">="}1280px)</span>
          <span class="hidden lg:inline xl:hidden">LG ({">="}1024px)</span>
          <span class="hidden md:inline lg:hidden">MD ({">="}768px)</span>
          <span class="hidden sm:inline md:hidden">SM ({">="}640px)</span>
          <span class="hidden 480:inline sm:hidden">XS ({">="}480px)</span>
          <span class="480:hidden">{"<"} 480px</span>
        </div>
      : null
    }
  </body>
</html>
