---
import "@/styles/base.css";
import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/atkinson-hyperlegible/700.css";

import SpeedInsights from "@vercel/speed-insights/astro";
import { ViewTransitions, fade } from "astro:transitions";

interface Props {
  title?: string;
  description: string;
}

const { title, description } = Astro.props;

/**
 * @see https://github.com/withastro/astro/issues/5248
 */
const removeTrailingSlash = (str: string) => {
  return str.replace(/\/+$/, "");
};

const canonicalUrl = removeTrailingSlash(new URL(Astro.url.pathname, Astro.site).toString());
---

<!doctype html>
<html
  lang="en"
  class="text-[15px]"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={description}
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <meta
      property="og:title"
      content={title ? title : "Charles Wang"}
    />
    <meta
      property="og:description"
      content={description}
    />
    <meta
      property="og:url"
      content={canonicalUrl}
    />

    <link
      rel="canonical"
      href={canonicalUrl}
    />
    <link
      rel="sitemap"
      href="/sitemap-index.xml"
    />

    <link
      rel="icon"
      sizes="any"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="/favicon.png"
    />
    <link
      rel="icon"
      href="/favicon.ico"
    />

    <link
      rel="preload"
      href="/_fonts/BerkeleyMonoVariable-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/_fonts/BerkeleyMonoVariable-Italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <title>{(title ? title + " — " : "") + "Charles Wang"}</title>

    <SpeedInsights />
    <ViewTransitions fallback="none" />
  </head>

  <body
    class="bg-sweater-10 text-sweater-1"
    transition:animate={fade({ duration: "0.35s" })}
  >
    <slot />
  </body>
</html>
