---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import ContentLayout from "@/layouts/content-layout.astro";
import PostPublishedStatus from "@/components/dev/post-published-status.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
let {
  data: { title, blurb, posted, updated, cover, published },
} = post;

// Only show post status in development
let status = published ? "[PUBLISHED] " : "[DRAFT] ";
status = import.meta.env.DEV ? status : "";

let dateOptions: Intl.DateTimeFormatOptions = {
  month: "long",
  day: "numeric",
  year: "numeric",
  timeZone: "America/New_York",
};
---

<ContentLayout entry={{ kind: "post", post, status }}>
  <section class="space-y-3 pb-12">
    <h1 class="text-xl">{title} <PostPublishedStatus published={published} /></h1>

    {cover ? <Image src={cover.img} alt={cover.alt} loading="eager" class="" /> : null}

    <p class="subtitle">{blurb}</p>

    <div class="berkeley grid grid-cols-1 xs:grid-cols-2 xs:gap-6">
      <time datetime={posted.toISOString()} class="text-sweater-5">
        {posted.toLocaleDateString("en-US", dateOptions)}
      </time>

      {
        updated ? (
          <time datetime={updated.toISOString()} class="text-sweater-6">
            Updated {updated.toLocaleDateString("en-US", dateOptions)}
          </time>
        ) : null
      }
    </div>
  </section>
</ContentLayout>
