---
import type { CollectionEntry } from "astro:content";

import Anchor from "@/components/mdx/anchor.astro";
import Aside from "@/components/mdx/aside.astro";
import Del from "@/components/mdx/del.astro";
import H2 from "@/components/mdx/h2.astro";
import H3 from "@/components/mdx/h3.astro";
import Img from "@/components/mdx/img.astro";
import Li from "@/components/mdx/li.astro";
import Ul from "@/components/mdx/ul.astro";

import Footer from "@/layouts/footer.astro";
import Header from "@/layouts/header.astro";
import Layout from "@/layouts/layout.astro";
import Main from "@/layouts/main.astro";

import { Image } from "astro:assets";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const {
  data: { title, blurb, tags, cover, published },
} = post;

// only show post status in development
let status = published ? "[PUBLISHED] " : "[DRAFT] ";
status = import.meta.env.DEV ? status : "";

const { Content } = await post.render();
---

<Layout
  title={status + title}
  description={blurb}
>
  <Header />

  <Main className="max-w-narrow space-y-14 wide:space-y-14">
    <section class="animate-fade space-y-1 [--order:0]">
      <h2 class="text-lg text-sweater-2">
        {title}
      </h2>
      <p>{blurb}</p>
      <p class="font-mono text-[14px] font-[120] text-sweater-3">
        {tags.join(" • ")}
      </p>
    </section>

    <Image
      src={cover.img}
      alt={cover.alt}
      loading="eager"
      class="animate-fade rounded-xl border-2 border-sweater-8 bg-sweater-9 shadow-[0_0_200px_0] shadow-sweater-8 [--order:0]"
    />

    <article class="animate-fade space-y-6 [--order:0]">
      <Content
        components={{
          h2: H2,
          h3: H3,
          ul: Ul,
          li: Li,
          del: Del,
          blockquote: Aside,
          a: Anchor,
          img: Img,
        }}
      />
    </article>
  </Main>

  <Footer />
</Layout>
